---
import "@styles/global.css";
import Layout from "@layouts/Layout.astro";
import arrowNextRight from "@assets/arrow_next_right.svg";

const buttonClass =
  "text-[#C10230] bg-white border-[#C10230] border-solid border-2 px-4 py-2 rounded-md flex items-center justify-center cursor-pointer transition";
const inputClass =
  "bg-white text-black rounded-md p-2 w-md focus:outline-none focus:ring-2 focus:ring-[#C10230]";
---

<Layout>
  <section
    class="h-fit md:w-svw lg:w-shw w-shw min-h-[100vh] text-white flex flex-wrap justify-self-center-safe flex-col mt-16">
    <!-- Contenedor principal -->
    <div id="container" class="flex flex-col flex-wrap items-center justify-center gap-5 bg-[#C10230] self-center w-shw px-10 pt-4 pb-8 rounded-lg shadow-lg">
        <!-- Título -->
        <div class="font-bold text-3xl flex pb-3">
            <h1>Agregar Jugador</h1>
        </div>

        <!-- Formulario -->
        <div id="player-form" class="flex flex-col w-full max-w-md">
            <form action="" method="post" enctype="multipart/form-data">
                <!-- Nombres -->
                <div class="flex gap-2 flex-col mb-4">
                    <label class="text-base font-medium" for="nombre">Nombres</label>
                    <input
                      type="text"
                      id="name"
                      name="name"
                      maxlength="50"
                      class={inputClass}
                      required
                    />
                </div>

                <!-- Apellidos -->
                <div class="flex gap-2 flex-col mb-4">
                    <label class="text-base font-medium" for="apellidos">Apellidos</label>
                    <input
                      type="text"
                      id="lastname"
                      name="lastname"
                      maxlength="50"
                      class={inputClass}
                      required
                    />
                </div>

                <!-- Número de camiseta -->
                <div class="flex gap-2 flex-col mb-4">
                    <label class="text-base font-medium" for="numero">Número de Camiseta</label>
                    <input
                      type="number"
                      id="shirtNumber"
                      name="shirtNumber"
                      min="1"
                      max="99"
                      class={inputClass}
                      required
                    />
                </div>

                <!-- Posición -->
                <div class="flex gap-2 flex-col mb-4">
                    <label class="text-base font-medium" for="position">Posición</label>
                    <select id="position" name="position" class={inputClass} required>
                        <option value="">-- Selecciona --</option>
                        <option value="Portero">Portero</option>
                        <option value="Defensa">Defensa</option>
                        <option value="Centrocampista">Centrocampista</option>
                        <option value="Delantero">Delantero</option>
                    </select>
                </div>

                <!-- Foto -->
                <div class="flex gap-2 flex-col mb-4">
                    <label class="text-base font-medium" for="photo">Foto del Jugador</label>
                    <input
                      type="file"
                      id="photo"
                      name="photo"
                      accept="image/*"
                      class={inputClass}
                      required
                    />
                </div>

                <!-- Botón -->
                <div class="flex gap-2 justify-center pt-5">
                    <button class={buttonClass} type="submit">
                        Guardar Jugador
                        <img src={arrowNextRight.src} class="size-7 align-middle pl-2" alt=""/>
                    </button>
                </div>
            </form>
        </div>
    </div>
  </section>
</Layout>

<script>
  import { actions } from "astro:actions";

  const form = document.querySelector("form");
  const btnSubmit = form!.querySelector("button[type='submit']");

  form?.addEventListener("submit", async (e) => {
    e.preventDefault();

    const formData = new FormData(form);

    const photo = formData.get("photo");
    console.log(photo);

    const { data, error } = await actions.registerPlayer(formData);

    if (error) {
      console.error("Error:", error);
      alert("Error: " + error.message);
    } else {
      console.log("Success:", data);
      alert("Jugador registrado exitosamente");
      form.reset();
    }
  });
</script>
