---
import "@styles/global.css";
import { getNavbarLinks, navbarLinks } from "@consts/navbar-links";
import LogoUdla from "@assets/logo_udla_corto.png";
import type { User } from "@interfaces/user.interface";
import VerticalChevron from "@assets/vertical_chevron.svg";

const currentPath = Astro.url.pathname;
const { user } = Astro.locals;
const links = getNavbarLinks(user as User);
---

<section class="w-full relative top-0 right-0 left-0">
  <nav class="bg-[#C10230] px-1 py-4 flex w-full">
    <div class="flex justify-start ml-10">
      <a href="/" class="flex items-center no-underline">
        <img src={LogoUdla.src} alt="Logo UDLA" class="h-8" />
      </a>
    </div>
    <div class="flex flex-grow justify-center mr-10">
      <ul class="flex gap-5 list-none m-0 p-0">
        {
          links.map(({ href, name }) => (
            <div>
              <a
                href={href}
                class:list={[
                  "text-white no-underline text-base px-3 pb-1",
                  {
                    "text-white/75 hover:text-white hover:border-b-2 hover": !(href === currentPath),
                  } 
                ]}>
                {name}
              </a>
              {
                currentPath === href && (
                  <div 
                  transition:name="menu-line"
                  class="text-white border-b-2 border-white pb-1" />
                )
              }
            </div>
          ))
        }
      </ul>
    </div>
    <div
    class="flex flex-grow justify-end mr-5">
    <div class="flex flex-row gap-2">
      <span>{user ? `Hola, ${user.name}` : "Iniciar sesión"}</span>
      { user ? (
        <button id=""><img src={VerticalChevron.src} alt="Vertical Chevron" class="rotate-180"></a>
      ) : false
      }
    </div>


    </div>
  </nav>
</section>
