---
import { getNavbarLinks } from "@consts/navbar-links";
import LogoUdla from "@assets/logo_udla_corto.png";
import type { LoggedUser } from "@interfaces/user.interface";
import Logout from "@assets/logout.svg";

const currentPath = Astro.url.pathname;
const user = Astro.cookies.get("user")
  ? (JSON.parse(Astro.cookies.get("user")?.value as string) as LoggedUser)
  : null;
const links = getNavbarLinks(user as LoggedUser);
console.log({ user });
console.log({ links });
---

<section class="w-full relative top-0 right-0 left-0">
  <nav class="bg-[#C10230] px-1 py-4 flex w-full">
    <div class="flex justify-start ml-10">
      <a href="/" class="flex items-center no-underline">
        <img src={LogoUdla.src} alt="Logo UDLA" class="h-8" />
      </a>
    </div>
    <div class="flex flex-grow justify-center mr-10 align-middle items-center">
      <ul class="flex gap-5 list-none m-0 p-0">
        {
          links.map(({ href, name }) => (
            <div>
              <a
                href={href}
                class:list={[
                  "text-white no-underline text-base px-3 pb-1",
                  {
                    "text-white/75 hover:text-white hover:border-b-2 hover": !(
                      href === currentPath
                    ),
                  },
                ]}
              >
                {name}
              </a>
              {currentPath === href && (
                <div
                  transition:name="menu-line"
                  class="text-white border-b-2 border-white pb-1"
                />
              )}
            </div>
          ))
        }
      </ul>
    </div>
    <div class="flex flex-row mr-10 gap-5 justify-center align-middle">
      <div class="flex flex-col justify-end w-fit">
        <div
        class="flex flex-row text-white justify-center align-middle items-center pb-1"
        >
        <span class="flex">{user ? `${user.nickname}` : "Bienvenido"}</span
          >
      </div>
      <div
      class="flex flex-row items-center text-white align-middle justify-center"
      >
      <span class="flex">[{user ? user.rol : "Invitado"}]</span>
    </div>
  </div>
  <div
          class:list={["flex items-center align-middle justify-center"]}
          >
          <button class="flex no-underline cursor-pointer" id="logout">
            <img
            src={Logout.src}
            alt="Cerrar Sesión"
            class=`h-6 w-6 ${user ? "" : "hidden"}`
            />
          </button>
        </div>
</div>
  </nav>
</section>

<script>
  import { actions } from "astro:actions";
  import { publicRoutesMap } from "@consts/routes";
  const btnLogout = document.getElementById("logout") as HTMLButtonElement;

  btnLogout.addEventListener("click", async () => {
    await actions.logout(null);
    window.location.replace(publicRoutesMap.HOME);
  });
</script>
