---
import "@styles/global.css";
import arrowNext from "@assets/arrow_next.svg";
import FormLayout from "@layouts/FormLayout.astro";
import { actions } from "astro:actions";
import type { Player } from "@interfaces/index";
import NotFoundImage from "@assets/not_found.svg";

const buttonClass =
  "text-[#C10230] bg-white border-[#C10230] border-solid border-2 px-4 py-2 rounded-md flex items-center justify-center cursor-pointer transition";
const inputClass =
  "bg-white text-black rounded-md p-2 w-md focus:outline-none focus:ring-2 focus:ring-[#C10230]";

const user = Astro.cookies.get("user")
  ? (JSON.parse(Astro.cookies.get("user")?.value as string) as LoggedUser)
  : null;

const { idBanner } = Astro.params;
const { data, error } = await Astro.callAction(actions.getJugadorByBanner, {
  idJugador: idBanner ?? "",
});

if (error || !data) {
  console.error("Error al obtener jugador:", error);
  throw new Error("No se pudo cargar la información del jugador.");
}

const jugador = data.data as Player;
const logoJugador = jugador.imagenjugador ?? null;
console.log(logoJugador);
---

<FormLayout
  user={user}
  formTitle="Editar Jugador"
  pageTitle="Actualizar Jugador"
>
  <form id="formJugador" class="flex flex-col w-full max-w-md">
    <!-- ID Banner -->
    <div class="flex gap-2 flex-col mb-4" hidden>
      <label class="text-base font-medium" for="idjugador">ID Banner</label>
      <input
        type="text"
        id="idjugador"
        name="idjugador"
        minlength="9"
        maxlength="9"
        class={inputClass}
        value={jugador.idjugador}
        required
      />
    </div>

    <div class="flex gap-2 flex-col mb-4">
      <label class="text-base font-medium" for="idbanner">ID Banner</label>
      <input
        type="text"
        id="idbanner"
        name="idbanner"
        minlength="9"
        maxlength="10"
        class={inputClass}
        value={jugador.idbanner}
        required
      />
    </div>

    <!-- Nombres -->
    <div class="flex gap-2 flex-col mb-4">
      <label class="text-base font-medium" for="nombrejugador">Nombres</label>
      <input
        type="text"
        id="nombrejugador"
        name="nombrejugador"
        maxlength="100"
        class={inputClass}
        value={jugador.nombrejugador}
        required
      />
    </div>

    <!-- Apellidos -->
    <div class="flex gap-2 flex-col mb-4">
      <label class="text-base font-medium" for="apellidojugador"
        >Apellidos</label
      >
      <input
        type="text"
        id="apellidojugador"
        name="apellidojugador"
        maxlength="100"
        class={inputClass}
        value={jugador.apellidojugador}
        required
      />
    </div>

    <!-- Número de camiseta -->
    <div class="flex gap-2 flex-col mb-4">
      <label class="text-base font-medium" for="numerocamisetajugador"
        >Número de camiseta</label
      >
      <input
        type="number"
        id="numerocamisetajugador"
        name="numerocamisetajugador"
        min="1"
        max="99"
        class={inputClass}
        value={jugador.numerocamisetajugador}
        required
      />
    </div>

    <!-- Posición -->
    <div class="flex gap-2 flex-col mb-4">
      <label class="text-base font-medium" for="posicionjugador">Posición</label
      >
      <select
        id="posicionjugador"
        name="posicionjugador"
        class={inputClass}
        required
      >
        <option value="">-- Selecciona --</option>
        <option value="Portero" selected={jugador.posicionjugador === "Portero"}
          >Portero</option
        >
        <option value="Defensa" selected={jugador.posicionjugador === "Defensa"}
          >Defensa</option
        >
        <option
          value="Mediocampista"
          selected={jugador.posicionjugador === "Mediocampista"}
          >Mediocampista</option
        >
        <option
          value="Delantero"
          selected={jugador.posicionjugador === "Delantero"}>Delantero</option
        >
      </select>
    </div>

    <!-- Jugador activo -->
    <div class="flex gap-2 flex-col mb-4">
      <label class="text-base font-medium" for="jugadoractivo"
        >Jugador Activo</label
      >
      <select
        id="jugadoractivo"
        name="jugadoractivo"
        class={inputClass}
        required
      >
        <option value="">-- Selecciona --</option>
        <option value="true" selected={jugador.jugadoractivo === true}
          >Activo</option
        >
        <option value="false" selected={jugador.jugadoractivo === false}
          >Inactivo</option
        >
      </select>
    </div>

    <div class="flex gap-2 flex-col mb-4">
      <label for="imagenjugador" class="text-base font-medium"
        >Cambiar Foto de la camiseta (opcional)</label
      >
      <input
        id="imagenjugador"
        name="imagenjugador"
        type="file"
        class={inputClass}
        accept="image/*"
      />
    </div>

    {
      logoJugador && (
        <div class="flex flex-col items-start mb-4">
          <label class="text-base font-medium mb-2">Foto actual de la camiseta</label>
          <img
            src={logoJugador ?? NotFoundImage.src }
            alt="Foto del jugador"
            class="w-fit h-fit object-cover rounded-lg shadow-md border"
          />
        </div>
      )
    }

    <!-- Botón -->
    <div class="flex justify-center text-center mt-5 mx-5 pt-2 gap-5">
      <button class={buttonClass} type="button" id="btn-cancel">
        Cancelar
      </button>
      <button id="btnSubmit" class={buttonClass} type="button">
        Actualizar Jugador
        <img
          src={arrowNext.src}
          class="flex size-7 align-middle pr-1 rotate-180"
          alt=""
        />
      </button>
    </div>
  </form>
</FormLayout>

<script>
  import Swal from "sweetalert2";
  import { actions } from "astro:actions";
  import { navigate } from "astro:transitions/client";
  import {
    validateJugador,
    isJugadorUpdated,
  } from "@utils/validation/player/player-validation";
  import type { Player } from "@interfaces/index";
  import { privateRoutesMap } from "@consts/routes";
  import { fileToBase64 } from "@utils/index";

  const btnSubmit = document.getElementById("btnSubmit") as HTMLButtonElement;
  const btnCancel = document.getElementById("btn-cancel") as HTMLButtonElement;

  btnCancel.addEventListener("click", () => {
    navigate(privateRoutesMap.ADMIN_JUGADORES);
  });

  btnSubmit.addEventListener("click", async () => {
    btnSubmit.disabled = true;
    btnSubmit.classList.add("opacity-50", "cursor-not-allowed");
    const form = document.getElementById("formJugador") as HTMLFormElement;
    const formData = new FormData(form);

    // Validación
    const validationErrors = validateJugador(formData);
    if (validationErrors) {
      Swal.fire({
        icon: "error",
        title: "Error de validación",
        html: validationErrors,
      });
      btnSubmit.disabled = false;
      btnSubmit.classList.remove("opacity-50", "cursor-not-allowed");
      return;
    }

    const idJugador = Number(formData.get("idjugador"));

    // Verificar cambios
    const jugadorData = await actions.getJugadorById.orThrow({
      idjugador: idJugador,
    });
    const jugador = jugadorData.data as Player;

    if (!isJugadorUpdated(jugador, formData)) {
      Swal.fire({
        icon: "info",
        title: "Sin cambios detectados",
        text: "No se han modificado los datos del jugador.",
      });
      btnSubmit.disabled = false;
      btnSubmit.classList.remove("opacity-50", "cursor-not-allowed");
      return;
    }

    const jugadoresData = await actions.getJugadores.orThrow({
      pageSize: 1000,
    });
    const jugadores = jugadoresData.data;
    const camisetaOcupada = jugadores.some((j) => {
      return (
        j.numerocamisetajugador.toString() ===
          formData.get("numerocamisetajugador")?.toString() &&
        j.jugadoractivo &&
        j.idjugador !== idJugador
      );
    });

    if (camisetaOcupada) {
      Swal.fire({
        icon: "error",
        title: "Número de camiseta no disponible",
        text: "El número de camiseta ya está asignado a otro jugador activo.",
      });
      btnSubmit.disabled = false;
      btnSubmit.classList.remove("opacity-50", "cursor-not-allowed");
      return;
    }

    try {
      const logo = formData.get("imagenjugador");
      if (logo) {
        const file = logo as File;
        const base64 = await fileToBase64(file);
        formData.set("imagenjugador", base64);
      } else {
        formData.delete("imagenjugador");
      }
      const { data, error } = await actions.updateJugador(formData);

      if (error) {
        Swal.fire({
          icon: "error",
          title: "Error al actualizar",
          text: error.message,
        });
        btnSubmit.disabled = false;
        btnSubmit.classList.remove("opacity-50", "cursor-not-allowed");
        return;
      }

      Swal.fire({
        icon: "success",
        title: "Jugador actualizado",
        text: "Los datos del jugador se han actualizado correctamente.",
        confirmButtonText: "Aceptar",
      }).then((result) => {
        if (result.isConfirmed) {
          navigate(privateRoutesMap.ADMIN_JUGADORES);
          btnSubmit.disabled = false;
          btnSubmit.classList.remove("opacity-50", "cursor-not-allowed");
        }
      });
    } catch (err) {
      console.error(err);
      Swal.fire({
        icon: "error",
        title: "Error inesperado",
        text:
          err instanceof Error ? err.message : "Ocurrió un error inesperado.",
      });
      btnSubmit.disabled = false;
      btnSubmit.classList.remove("opacity-50", "cursor-not-allowed");
    } finally {
      btnSubmit.disabled = false;
      btnSubmit.classList.remove("opacity-50", "cursor-not-allowed");
    }
  });
</script>
