---
import { privateRoutesMap } from "@consts/routes";
import { Table } from "@components/tables/Table";
import type {
  SortOptions,
  TableActions,
  TableContent,
} from "@interfaces/table-actions.interface";
import EditIcon from "@assets/edit_icon_black.svg";
import DeleteIcon from "@assets/delete_icon_black.svg";
import NotAuthorized from "@components/shared/NotAuthorized.astro";
import AdminPanelLayout from "@layouts/AdminPanelLayout.astro";
import TableActionsComponent from "@components/partidosProfesor/TableActions.astro";
import Pagination from "@components/shared/Pagination.astro";
import type { Player } from "@interfaces/index";
import { actions } from "astro:actions";

const searchParams = Astro.url.searchParams;
const pageParam = Number(searchParams.get("page") ?? 1);
const sortParam = searchParams.get("sortBy") ?? "";
const orderParam = searchParams.get("orderBy") ?? "asc";

const user = Astro.cookies.get("user")
  ? (JSON.parse(Astro.cookies.get("user")?.value as string) as LoggedUser)
  : null;

const { data: playerData, error: playerError } = await Astro.callAction(
  actions.getJugadores,
  {
    page: pageParam,
    pageSize: 10,
  }
);

if (playerError || !playerData) {
  throw new Error("Error al obtener jugadores");
}

const players: Player[] = playerData.data;
const pages = playerData.pages;

const { REGISTER_PLAYER, EDIT_PLAYER } = privateRoutesMap;

const headers: TableContent[] = [
  { data: "Banner" },
  { data: "Nombre" },
  { data: "Apellido" },
  { data: "Posición" },
  { data: "Número de camiseta" },
  { data: "Activo" },
  { data: "Editar" },
  { data: "Eliminar" },
];

const sortOptions: SortOptions[] = [
  { searchParam: "idbanner", displayName: "Banner" },
  { searchParam: "nombrejugador", displayName: "Nombre" },
  { searchParam: "apellidojugador", displayName: "Apellido" },
  { searchParam: "numerocamisetajugador", displayName: "Número de camiseta" },
];

const rows = players
  .map((u) => [
    u.idbanner,
    u.nombrejugador,
    u.apellidojugador,
    u.posicionjugador,
    u.numerocamisetajugador,
    u.jugadoractivo ? "Sí" : "No",
  ])
  .sort((a, b) => {
    if (sortParam) {
      const index = headers.findIndex(
        (header) =>
          header.data.toLowerCase() ===
          (sortParam === "idbanner"
            ? "banner"
            : sortParam === "nombrejugador"
            ? "nombre"
            : sortParam === "apellidojugador"
            ? "apellido"
            : sortParam === "numerocamisetajugador"
            ? "número de camiseta"
            : "")
      );
      if (index !== -1) {
        const aValue = a[index] as string;
        const bValue = b[index] as string;
        if (orderParam === "asc") {
          return aValue.localeCompare(bValue);
        } else {
          return bValue.localeCompare(aValue);
        }
      }
    }
    return 0;
  });

function handleDelete(username: string) {
  console.log(`Usuario ${username} eliminado`);
}

const tableActions: TableActions[] = [];

tableActions.push(
  {
    href: `${EDIT_PLAYER}`,
    icon: EditIcon.src,
    alt: "Editar jugador",
    type: "link",
  },
  {
    action: handleDelete,
    icon: DeleteIcon.src,
    alt: "Eliminar jugador",
    type: "button",
  }
);
---

<AdminPanelLayout title="Panel de Administración">
  {
    !user ? (
      <NotAuthorized />
    ) : (
      <div class="flex flex-col w-full h-full gap-5">
        <div class="flex flex-row gap-5 items-baseline justify-between w-full">
          <h1 class="font-bold text-2xl pr-5">Jugadores</h1>
          <TableActionsComponent
            canSort={true}
            sortByOptions={sortOptions}
            placeholderText="Buscar jugador..."
            buttonLabel="Crear Jugador"
            buttonHref={REGISTER_PLAYER}
          />
        </div>
        <div class="relative overflow-x-auto w-svw mt-5 flex justify-center">
          <Table headers={headers}>
            {rows.map((row) => (
              <tr class="border-b" id={`user-row-${row[0]}`}>
                {row.map((cell) => (
                  <td class="px-6 py-4">{cell}</td>
                ))}
                {tableActions &&
                  tableActions.length > 0 &&
                  tableActions.map((action) =>
                    action.type === "link" ? (
                      <td class="px-6 py-4">
                        <a
                          class="cursor-pointer no-underline"
                          href={`${action.href ?? ""}${row[0] ?? ""}`}
                        >
                          <img
                            class="size-8"
                            src={action.icon}
                            alt={action.alt}
                          />
                        </a>
                      </td>
                    ) : (
                      action.action && (
                        <td class="px-6 py-4">
                          <button
                            type="button"
                            id="delete-button"
                            value={row[0]}
                            data-delete-user
                            data-username={row[0]}
                            class="cursor-pointer"
                          >
                            <img
                              class="size-8"
                              src={action.icon}
                              alt={action.alt}
                            />
                          </button>
                        </td>
                      )
                    )
                  )}
              </tr>
            ))}
          </Table>
        </div>
        <div class={`mt-2 ${pages <= 1 ? "hidden" : ""}`}>
          <Pagination totalPages={pages} />
        </div>
      </div>
    )
  }
</AdminPanelLayout>

<script>
  import { actions } from "astro:actions";
  import Swal from "sweetalert2";

  const searchBox = document.getElementById("search-box") as HTMLInputElement;

  searchBox.addEventListener("input", (e) => {
      const query = searchBox.value.trim();
      const rows = document.querySelectorAll("tr[id^='user-row-']");
      rows.forEach((row) => {
        const banner = row.children[0];
        const nombre = row.children[1];
        const apellido = row.children[2];
        if (banner && nombre && apellido) {
          const bannerText = banner.textContent || "";
          const nombreText = nombre.textContent || "";
          const apellidoText = apellido.textContent || "";

          if (
            bannerText.toLowerCase().includes(query.toLowerCase()) ||
            nombreText.toLowerCase().includes(query.toLowerCase()) ||
            apellidoText.toLowerCase().includes(query.toLowerCase())
          ) {
            row.classList.remove("hidden");
          } else {
            row.classList.add("hidden");
          }
        }
      });
  });

  document.addEventListener("click", async (event) => {
    const target = event.target as HTMLElement;
    if (target.closest("[data-delete-user]")) {
      const button = target.closest("[data-delete-user]") as HTMLButtonElement;
      const banner = button.value;
      if (banner) {
        console.log(`Jugador ${banner} eliminado`);
        Swal.fire({
          title: "¿Estás seguro?",
          text: `Esta acción eliminará al jugador con banner ${banner}.`,
          icon: "warning",
          showCancelButton: true,
          confirmButtonText: "Sí, eliminar",
          cancelButtonText: "Cancelar",
        }).then(async (result) => {
          if (result.isConfirmed) {
            const { data, error } = await actions.deleteJugador({
              idJugador: banner,
            });
            if (error) {
              console.error("Error al eliminar el jugador:", error);
              Swal.fire("Error", error.message, "error");
            } else {
              Swal.fire("Éxito", "Jugador eliminado", "success").then(
                async (result) => {
                  if (result.isConfirmed) {
                    window.location.reload();
                  }
                }
              );
            }
          }
        });
      }
    }
  });
</script>
