---
import { buttonClass } from "@consts/index";
import type { SortOptions } from "@interfaces/table-actions.interface";

interface Props {
  buttonPosition?: "left" | "right";
  buttonLabel: string;
  canSort?: boolean;
  sortByOptions: SortOptions[];
  placeholderText?: string;
  buttonHref?: string;
}

const {
  buttonLabel,
  buttonHref = "#",
  placeholderText = "Buscar...",
  buttonPosition = "left",
  sortByOptions = [],
  canSort = true,
} = Astro.props;

const searchParams = Astro.url.searchParams;
const sortParam = searchParams.get("sortBy") ?? "";
const orderParam = searchParams.get("orderBy") ?? "asc";
---

<div
  class={`mb-6 flex flex-wrap items-end gap-5 w-full ${
    buttonPosition === "left" ? "justify-between" : "justify-end"
  }`}
>
  <!-- Botón principal -->
  <a href={buttonHref} class={`${buttonClass} whitespace-nowrap`}>
    {buttonLabel}
  </a>

  <!-- Controles -->
  <div class="flex flex-wrap items-end gap-5">
    {
      canSort && (
        <>
          <button class={buttonClass} id="limpiar-filtros">Limpiar filtros</button>
          <div class="flex flex-col text-sm font-medium">
            <label for="sortBySelect" class="text-gray-700 mb-1">
              Filtrar por
            </label>
            <select
              id="sortBySelect"
              name="sortBy"
              class="border border-gray-300 rounded-md px-3 py-1.5 text-sm
                   focus:ring-1 focus:outline-none
                   transition"
            >
              <option value="" disabled selected>
                -- Selecciona --
              </option>
              {sortByOptions.map((option) => (
                <option
                  value={option.searchParam.toLowerCase()}
                  selected={sortParam === option.searchParam.toLowerCase()}
                >
                  {option.displayName}
                </option>
              ))}
            </select>
          </div>
          <div class="flex flex-col text-sm font-medium">
            <label for="orderBySelect" class="text-gray-700 mb-1">
              Ordenar por
            </label>
            <select
              id="orderBySelect"
              name="orderBy"
              class="border border-gray-300 rounded-md px-3 py-1.5 text-sm 
                   focus:ring-1 focus:outline-none
                   transition"
            >
              <option value="" disabled selected>
                -- Selecciona --
              </option>
              <option value="asc" selected={orderParam === "asc"}>
                Asc
              </option>
              <option value="desc" selected={orderParam === "desc"}>
                Desc
              </option>
            </select>
          </div>
        </>
      )
    }

    <div class="flex flex-col text-sm font-medium pl-3">
      <label for="search-box" class="text-gray-700 mb-1">Buscar</label>
      <input
        id="search-box"
        type="search"
        name="search"
        placeholder={placeholderText}
        class="border border-gray-300 rounded-md px-3 py-1.5 text-sm
               focus:ring-1 focus:ring-black focus:border-black focus:outline-none
               transition w-64"
      />
    </div>
  </div>
</div>

<script>
  import { navigate } from "astro:transitions/client";

  const sortBySelect = document.getElementById(
    "sortBySelect"
  ) as HTMLSelectElement;
  const orderBySelect = document.getElementById(
    "orderBySelect"
  ) as HTMLSelectElement;
  const btnLimpiarFiltros = document.getElementById(
    "limpiar-filtros"
  ) as HTMLButtonElement;

  btnLimpiarFiltros.addEventListener("click", () => {
    const currentUrl = new URL(window.location.href);
    currentUrl.searchParams.delete("sortBy");
    currentUrl.searchParams.delete("orderBy");
    navigate(currentUrl.toString());
  });

  sortBySelect.addEventListener("change", () => {
    const selectedSortBy = sortBySelect.value;
    const currentUrl = new URL(window.location.href);
    if (selectedSortBy) {
      currentUrl.searchParams.set("sortBy", selectedSortBy);
      currentUrl.searchParams.set("orderBy", orderBySelect.value);
    } else {
      currentUrl.searchParams.delete("sortBy");
    }
    navigate(currentUrl.toString());
  });

  orderBySelect.addEventListener("change", () => {
    const selectedOrderBy = orderBySelect.value;
    const currentUrl = new URL(window.location.href);
    if (sortBySelect.value) {
      currentUrl.searchParams.set("orderBy", selectedOrderBy);
      currentUrl.searchParams.set("sortBy", sortBySelect.value);
    } else {
      currentUrl.searchParams.delete("orderBy");
      currentUrl.searchParams.set("orderBy", selectedOrderBy);
    }
    navigate(currentUrl.toString());
  });
</script>
