---
import "@styles/global.css";
import type { Player } from "@interfaces/player.interface";
import CardDetail from "@components/cards/CardDetail.astro";
import OutlinedButton from "@components/buttons/OutlinedButton.astro";
import CardContainer from "@components/cards/CardContainer.astro";
import LazyImage from "@components/image/LazyImage.astro";


interface Props {
  player: Player;
}

const { player } = Astro.props;
---

<CardContainer sizes="h-fit w-full">
  <div id="card-image" class="w-fit h-fit self-center rounded-sm bg-white">
    <LazyImage  
    height={200}
    width={200}
    className="flex self-center flex-wrap p-5 object-cover" />
  </div>
    <div
      id="card-details"
      class="grid grid-cols-3 gap-5 w-max h-fit p-5 bg-white text-black rounded-sm"
    >
      <CardDetail title="Posición" detail={player.position} />
      <CardDetail title="Equipo" detail={player.team} />
      <CardDetail title="Número de camiseta" detail={player.shirtNumber} />
      <CardDetail title="Minutos jugados" detail={player.minutesPlayed} />
      <CardDetail title="Número de goles" detail={player.goalsNumber} />
      <CardDetail title="Promedio de goles" detail={player.goalAverage} />
      <CardDetail
        title="Porcentaje de tiros a puerta"
        detail={player.soccerGoalShotsPercentage}
      />
      <CardDetail title="Tiros a puerta" detail={player.soccerGoalShots} />
      <CardDetail title="Número de tiros" detail={player.shotsNumber} />
      <CardDetail
        title="Distancia recorrida (m)"
        detail={player.coveredDistance}
      />
      <div class="p-5 w-fit h-fit">
          <OutlinedButton  
          href={`/jugadores/jugador/heatmap`} 
          label="Mapa de Calor"/>
      </div>
    </div>
</CardContainer>