---
import { publicRoutesMap } from "@consts/index";
import { buttonClass } from "@consts/index";

interface Props {
  groupBy?: string;
  groupLabel?: string;
  groupData?: Set<{ id: number; name: string }>;
  canGroupBySeason?: boolean;
}
const {
  groupData,
  groupLabel = "Agrupar por",
  canGroupBySeason = false,
} = Astro.props;
const componentClass = "flex flex-col flex-wrap gap-1";


const endDate = Astro.url.searchParams.get("endDate") ?? "";
const startDate = Astro.url.searchParams.get("startDate") ?? "";
const search = Astro.url.searchParams.get("search") ?? "";
const groupBy = Astro.url.searchParams.get("groupBy") ?? "";
const orderBy = Astro.url.searchParams.get("orderBy") ?? "";
const sortBy = Astro.url.searchParams.get("sortBy") ?? "";

const { PLAYER_COMPARE } =
  publicRoutesMap;
---

<section class="flex flex-wrap gap-7 flex-row pt-5 pb-7">
  <div class={componentClass}>
    <label for="search" class="block text-sm font-medium">Buscar</label>
    <input
      id="search"
      type="text"
      placeholder="Jugador, torneo o fecha..."
      class="bg-white text-black rounded-md p-2 w-3xs focus:outline-none ring-2 ring-gray-300 focus:ring-1 focus:ring-black"
      value={search}
    />
  </div>
  <div class:list={[componentClass, canGroupBySeason ? "" : "hidden"]}>
    <label for="groupBy" class="block text-sm font-medium">{groupLabel}</label>
    <select
      id="groupBy"
      class="bg-white text-black rounded-md p-2 w-4xs focus:outline-none focus:ring-1 focus:ring-black"
    >
      <option selected={groupBy === ""} value="" disabled
        >-- Selecciona --</option
      >
      {
        groupData ? (
          [...groupData].map((data) => (
            <option selected={groupBy === String(data.id)} value={data.id}>
              {data.name}
            </option>
          ))
        ) : (
          <option selected disabled value="">
            No hay temporadas disponibles
          </option>
        )
      }
    </select>
  </div>
  <div class={componentClass}>
    <label for="sortBy" class="block text-sm font-medium">Ordenar por</label>
    <select
      id="sortBy"
      class="bg-white text-black rounded-md p-2 w-4xs focus:outline-none focus:ring-1 focus:ring-black"
    >
      <option selected={sortBy === "player"} value="player">Jugador</option>
      <option selected={sortBy === "shirt_number"} value="shirt_number"
        >N° Camiseta</option
      >
      <option selected={sortBy === "tournament"} value="tournament"
        >Torneo</option
      >
      <option selected={sortBy === "match_date"} value="match_date"
        >Fecha de Partido</option
      >
      <option selected={sortBy === "analysis_date"} value="analysis_date"
        >Fecha de Análisis</option
      >
    </select>
  </div>
  <div class={componentClass}>
    <label for="orderBy" class="block text-sm font-medium">Orden</label>
    <select
      id="orderBy"
      class="bg-white text-black rounded-md p-2 w-4xs focus:outline-none focus:ring-1 focus:ring-black"
    >
      <option selected={orderBy === "asc"} value="asc">Ascendente</option>
      <option selected={orderBy === "desc"} value="desc">Descendente</option>
    </select>
  </div>
  <div class={componentClass}>
    <label for="startDate">Fecha Inicial</label>
    <input
      type="date"
      id="startDate"
      value={startDate}
      class="bg-white text-black rounded-md p-2 w-4xs focus:outline-none ring-2 ring-gray-300 focus:ring-1 focus:ring-black"
    />
  </div>
  <div class={componentClass}>
    <label for="endDate">Fecha Final</label>
    <input
      type="date"
      id="endDate"
      value={endDate}
      class="bg-white text-black rounded-md p-2 w-4xs focus:outline-none ring-2 ring-gray-300 focus:ring-1 focus:ring-black"
    />
  </div>
  <div class={componentClass}>
    <button
      id="clearFilters"
      class={buttonClass}
    >
      Limpiar Filtros
    </button>
  </div>
  <div class={componentClass}>
    <a
      id="compareStats"
      class={buttonClass}
      href={PLAYER_COMPARE}
    >
      Comparar
    </a>
  </div>
</section>

<script>
  import { updateUrl } from "@utils/index";
  import { navigate } from "astro:transitions/client";

  const clearFiltersButton = document.getElementById(
    "clearFilters",
  ) as HTMLButtonElement;

  clearFiltersButton.addEventListener("click", () => {
    const url = new URL(globalThis.location.href);
    updateUrl(url, "search", "");
    updateUrl(url, "sortBy", "");
    updateUrl(url, "orderBy", "");
    updateUrl(url, "groupBy", "");
    updateUrl(url, "startDate", "");
    updateUrl(url, "endDate", "");
    navigate(url.toString());
  });
</script>
