---
import "@styles/global.css";
import FormLayout from "@layouts/FormLayout.astro";
import arrowNext from "@assets/arrow_next.svg";
import NotAuthorized from "@components/shared/NotAuthorized.astro";
import { roles } from "@consts/roles";
import type { Torneo } from "@interfaces/torneos.interface";
import { buttonClass, inputClass, privateRoutesMap } from "@consts/index";
import { actions } from "astro:actions";
import Swal from "sweetalert2";

const user = Astro.cookies.get("user")
  ? (JSON.parse(Astro.cookies.get("user")?.value as string) as LoggedUser)
  : null;
const { super: superRole } = roles;

const { torneoId } = Astro.params;

const { data, error } = await Astro.callAction(actions.getTorneoById, {
  id: Number.parseInt(torneoId ?? "0"),
});

if (error) {
  console.error("Error fetching torneo:", error);
  Swal.fire("Error", "Error al cargar el torneo", "error").then((result) => {
    if (result.isConfirmed) {
      Astro.redirect(privateRoutesMap.ADMIN_PARTIDOS);
    }
  });
}

if (!data) {
  console.error("No data received for torneo");
  Swal.fire(
    "Error",
    "No se pudo recuperar los datos del servidor.",
    "warning",
  ).then((result) => {
    if (result.isConfirmed) {
      Astro.redirect(privateRoutesMap.ADMIN_PARTIDOS);
    }
  });
}

const torneo: Torneo = data!.data;
---

<FormLayout formTitle="Editar Torneo" pageTitle="Editar Torneo" user={user}>
  <form id="form-torneo" class="flex flex-col w-full max-w-md">
    <input
      type="text"
      hidden
      value={torneo?.idtorneo ?? ""}
      name="idtorneo"
      id="idtorneo"
      class="hidden"
    />
    <input
      type="number"
      id="idtorneo"
      hidden
      name="idtorneo"
      value={torneo?.idtorneo ?? ""}
      class={inputClass}
      required
    />
    <div class="flex gap-2 flex-col mb-4">
      <label for="nombretorneo" class="text-base font-medium"
        >Nombre del Torneo</label
      >
      <input
        type="text"
        id="nombretorneo"
        name="nombretorneo"
        value={torneo?.nombretorneo ?? ""}
        class={inputClass}
        required
      />
    </div>

    <div class="flex gap-2 flex-col mb-4">
      <label for="descripciontorneo" class="text-base font-medium"
        >Descripción</label
      >
      <textarea
        id="descripciontorneo"
        name="descripciontorneo"
        class={inputClass}
        rows="3">{torneo?.descripciontorneo ?? ""}</textarea
      >
    </div>
    <div class="flex justify-center text-center mt-5 mx-5 pt-2 gap-5">
      <button class={buttonClass} type="button" id="btn-cancel">
        Cancelar
      </button>
      <button class={buttonClass} type="submit">
        Actualizar Torneo
        <img src={arrowNext.src} class="size-7 rotate-180" alt="" />
      </button>
    </div>
  </form>
</FormLayout>

<script>
  import Swal from "sweetalert2";
  import { actions } from "astro:actions";
  import { privateRoutesMap } from "@consts/routes";
  import { navigate } from "astro:transitions/client";

  const form = document.querySelector("#form-torneo") as HTMLFormElement;
  const btnSubmit = document.querySelector(
    'button[type="submit"]',
  ) as HTMLButtonElement;

  const btnCancel = document.getElementById(
    "btn-cancel"
  ) as HTMLButtonElement;

  btnCancel.addEventListener("click", (e) => {
    e.preventDefault();
    navigate(privateRoutesMap.VER_TORNEOS);
  });

  btnSubmit.addEventListener("click", async () => {
    btnSubmit.disabled = true;
    btnSubmit.classList.add("opacity-50", "cursor-not-allowed");
    const formData = new FormData(form);
    const nombreTorneo = formData.get("nombretorneo")?.toString().trim() ?? "";
    const idTorneo = formData.get("idtorneo")?.toString().trim() ?? "";
    const descripcionTorneo =
      formData.get("descripciontorneo")?.toString().trim() ?? "";
    if (nombreTorneo.length === 0) {
      Swal.fire("Error", "El nombre del torneo es obligatorio", "error");
      btnSubmit.disabled = false;
      btnSubmit.classList.remove("opacity-50", "cursor-not-allowed");
      return;
    }
    const data = await actions.getTorneoById.orThrow({
      id: Number.parseInt(idTorneo),
    });
    const torneo = data.data;
    if (!torneo) {
      Swal.fire(
        "Error",
        "No se pudo validar los datos del torneo, intente nuevamente",
        "error",
      );
      btnSubmit.disabled = false;
      btnSubmit.classList.remove("opacity-50", "cursor-not-allowed");
      return;
    }
    if (
      torneo.nombretorneo === nombreTorneo &&
      torneo.descripciontorneo === descripcionTorneo
    ) {
      Swal.fire(
        "Información",
        "No se realizaron cambios en los datos del torneo",
        "info",
      );
      btnSubmit.disabled = false;
      btnSubmit.classList.remove("opacity-50", "cursor-not-allowed");
      return;
    }

    try {
      const { data, error } = await actions.updateTorneo(formData);

      if (error) {
        Swal.fire("Error", error.message, "error");
        btnSubmit.disabled = false;
        btnSubmit.classList.remove("opacity-50", "cursor-not-allowed");
        return;
      }
      Swal.fire("Éxito", "Torneo actualizado", "success").then((result) => {
        if (result.isConfirmed) {
          navigate(privateRoutesMap.VER_TORNEOS);
        }
      });
      form.reset();
    } catch (err) {
      console.error(err as Error);
      Swal.fire("Error", "Error al actualizar el torneo", "error");
    }
  });

</script>
