---
import "@styles/global.css";
import FormLayout from "@layouts/FormLayout.astro";
import arrowNext from "@assets/arrow_next.svg";
import NotAuthorized from "@components/shared/NotAuthorized.astro";
import { roles } from "@consts/roles";
import type { Torneo } from "@interfaces/torneos.interface";
import { buttonClass, inputClass } from "@consts/index";

const user = Astro.cookies.get("user")
  ? (JSON.parse(Astro.cookies.get("user")?.value as string) as LoggedUser)
  : null;
const { super: superRole } = roles;

const torneo = Astro.props.torneo;
---

<FormLayout formTitle="Agregar Torneo" pageTitle="Agregar Torneo" user={user}>
  <form action="" method="post" id="form-torneo" class="flex flex-col w-full max-w-md">
    <div class="flex gap-2 flex-col mb-4">
      <label for="nombretorneo" class="text-base font-medium"
        >Nombre del Torneo</label
      >
      <input
        type="text"
        id="nombretorneo"
        name="nombretorneo"
        class={inputClass}
        required
      />
    </div>

    <div class="flex gap-2 flex-col mb-4">
      <label for="descripciontorneo" class="text-base font-medium"
        >Descripción</label
      >
      <textarea
        id="descripciontorneo"
        name="descripciontorneo"
        class={inputClass}
        rows="3"></textarea>
    </div>

    <div class="flex gap-2 justify-center pt-5">
      <button class={buttonClass} type="submit">
        Guardar Torneo
        <img src={arrowNext.src} class="size-7 rotate-180" alt="" />
      </button>
    </div>
  </form>
</FormLayout>

<script>
  import Swal from "sweetalert2/dist/sweetalert2.js";
  import { actions } from "astro:actions";
  import { navigate } from "astro:transitions/client";
  import { privateRoutesMap } from "@consts/routes";

  document.addEventListener("astro:page-load", () => {
    const form = document.querySelector("#form-torneo") as HTMLFormElement;
    form?.addEventListener("submit", async (e) => {
      e.preventDefault();
      const formData = new FormData(form);

      try {
        const { data, error } = await actions.createTorneo(formData);

        if (error) throw error;
        form.reset();
        Swal.fire("Éxito", "Torneo creado", "success").then((result) => {
          if (result.isConfirmed) {
            navigate(privateRoutesMap.ADMIN_PARTIDOS);
          }
        });
      } catch (err) {
        console.error(err as Error);
        Swal.fire("Error", "Error al crear el torneo", "error");
      }
    });
  });
</script>
