---
import "@styles/global.css";
import FormLayout from "@layouts/FormLayout.astro";
import arrowNext from "@assets/arrow_next.svg";
import NotAuthorized from "@components/shared/NotAuthorized.astro";
import { roles } from "@consts/roles";
import type { Torneo } from "@interfaces/torneos.interface";
import { buttonClass, inputClass } from "@consts/index";

const user = Astro.cookies.get("user")
  ? (JSON.parse(Astro.cookies.get("user")?.value as string) as LoggedUser)
  : null;
const { super: superRole } = roles;

const torneo = Astro.props.torneo;
---

<FormLayout formTitle="Agregar Torneo" pageTitle="Agregar Torneo" user={user}>
  <form
    id="form-torneo"
    class="flex flex-col w-full max-w-md"
  >
    <div class="flex gap-2 flex-col mb-4">
      <label for="nombretorneo" class="text-base font-medium"
        >Nombre del Torneo</label
      >
      <input
        type="text"
        id="nombretorneo"
        maxlength="100"
        name="nombretorneo"
        class={inputClass}
        required
      />
    </div>

    <div class="flex gap-2 flex-col mb-4">
      <label for="descripciontorneo" class="text-base font-medium"
        >Descripción</label
      >
      <textarea
        id="descripciontorneo"
        name="descripciontorneo"
        maxlength="250"
        minlength="0"
        class={inputClass}
        rows="3"></textarea>
    </div>
    <div class="flex justify-center text-center mt-5 mx-5 pt-2 gap-5">
      <button class={buttonClass} type="button" id="btn-cancel">
        Cancelar
      </button>
      <button class={buttonClass} type="submit">
        Guardar Torneo
        <img src={arrowNext.src} class="size-7 rotate-180" alt="" />
      </button>
    </div>
  </form>
</FormLayout>

<script>
  import Swal from "sweetalert2/dist/sweetalert2.js";
  import { actions } from "astro:actions";
  import { navigate } from "astro:transitions/client";
  import { privateRoutesMap } from "@consts/routes";

  document.addEventListener("astro:page-load", () => {
    const btnSubmit = document.querySelector(
      'button[type="submit"]',
    ) as HTMLButtonElement;
    const form = document.querySelector("#form-torneo") as HTMLFormElement;

    const btnCancel = document.getElementById(
    "btn-cancel"
  ) as HTMLButtonElement;

  btnCancel.addEventListener("click", (e) => {
    e.preventDefault();
    navigate(privateRoutesMap.VER_TORNEOS);
  });

    btnSubmit.addEventListener("click", async () => {
      btnSubmit.disabled = true;
      btnSubmit.classList.add("opacity-50", "cursor-not-allowed");
      const formData = new FormData(form);
      const nombreTorneo =
        formData.get("nombretorneo")?.toString().trim() ?? "";
      if (nombreTorneo.length === 0) {
        Swal.fire("Error", "El nombre del torneo es obligatorio", "error");
        btnSubmit.disabled = false;
        btnSubmit.classList.remove("opacity-50", "cursor-not-allowed");
        return;
      }

      try {
        const { data, error } = await actions.createTorneo(formData);

        if (error) {
          Swal.fire("Error", error.message, "error");
          btnSubmit.disabled = false;
          btnSubmit.classList.remove("opacity-50", "cursor-not-allowed");
          return;
        }
        form.reset();
        Swal.fire("Éxito", "Torneo creado", "success").then((result) => {
          if (result.isConfirmed) {
            navigate(privateRoutesMap.VER_TORNEOS);
          }
        });
        btnSubmit.disabled = false;
        btnSubmit.classList.remove("opacity-50", "cursor-not-allowed");
        return;
      } catch (err) {
        console.error(err as Error);
        Swal.fire("Error", "Error al crear el torneo", "error");
      }
    });

  });
</script>
