---
import FormLayout from "@layouts/FormLayout.astro";
import { actions } from "astro:actions";
import {
  Input,
  ComboBox,
  FormButtons,
  TextArea,
} from "@components/molecules/forms/index";

const user = Astro.cookies.get("user")
  ? (JSON.parse(Astro.cookies.get("user")?.value as string) as LoggedUser)
  : null;

const { data: dataTemporadas, error } = await Astro.callAction(
  actions.getTemporadas,
  {
    page: 1,
    pageSize: 1000,
  }
);

if (error) {
  console.error("Error fetching temporadas:", error);
  throw new Error("No se pudo obtener la lista de temporadas.");
}

const temporadas = dataTemporadas?.data ?? [];
---

<FormLayout formTitle="Agregar Torneo" pageTitle="Agregar Torneo" user={user}>
  <form id="form-torneo" class="flex flex-col w-full max-w-md">
    <!-- Nombre del torneo -->
    <Input id="nombretorneo" label="Nombre del Torneo" required={true} />

    <!-- Temporada -->
    <ComboBox id="idtemporada" label="Temporada" required={true}>
      <option value="" disabled selected>Selecciona una temporada</option>
      {
        temporadas.map((temp) => (
          <option value={temp.idtemporada}>{temp.nombretemporada}</option>
        ))
      }
    </ComboBox>

    <!-- Fechas -->

    <Input
      id="fechainiciotorneo"
      label="Fecha de Inicio"
      type="date"
      required={true}
    />

    <!-- Fecha de fin -->
    <Input
      id="fechafintorneo"
      label="Fecha de Fin"
      type="date"
      required={true}
    />

    <!-- Torneo activo -->
    <ComboBox id="torneoactivo" label="Activo" required={true}>
      <option value="true" selected>Sí</option>
      <option value="false">No</option>
    </ComboBox>

    <!-- Descripción -->

    <TextArea
      id="descripciontorneo"
      label="Descripción"
      maxlength={250}
      rows={3}
    />

    <!-- Botones -->
    <FormButtons label="Guardar Torneo" />
  </form>
</FormLayout>

<script src="./scripts/create.ts"/>
