---
import { roles } from "@consts/roles";
import { actions } from "astro:actions";
import { publicRoutesMap } from "@consts/routes";
import type { User } from "@interfaces/index";
import { Input, ComboBox, FormButtons } from "@components/forms/index";
import FormLayout from "@layouts/FormLayout.astro";

export const prerender = false;

const { name } = Astro.params;

const { data, error } = await Astro.callAction(actions.getUserByUsername, {
  username: name ?? "",
  userCredential: import.meta.env.DEFAULT_ADMIN_PASSWORD,
});
const user = data?.data as User;
const originalName = user.nombre_usuario;

if (error || !user) {
  console.error("Error fetching user:", error);
  Astro.redirect(publicRoutesMap[404]);
}

const inputClass =
  "bg-white text-black rounded-md p-2 w-md focus:outline-none focus:ring-2 focus:ring-[#C10230]";
const buttonClass =
  "text-[#C10230] bg-white border-[#C10230] border-solid border-2 px-4 py-2 rounded-md flex items-center justify-center cursor-pointer transition";

const loggedUser = Astro.cookies.get("user")
  ? (JSON.parse(Astro.cookies.get("user")?.value as string) as LoggedUser)
  : null;
const { super: superRole } = roles;
---

<FormLayout
  user={loggedUser}
  formTitle="Editar Usuario"
  pageTitle="Editar Usuario"
>
  <form
    action=""
    method="post"
    autocomplete="on"
    id="form-usuario"
    class="text-white"
  >
    <Input
      id="originalName"
      label="Nombre Actual"
      value={originalName}
      hidden
    />
    <Input
      id="name"
      label="Nombre"
      value={user.nombre_usuario}
      maxlength={100}
      minlength={3}
      required
    />

    <ComboBox id="rol" label="Rol">
      <option value="superuser" selected={user.rol === "superuser"}>
        Administrador
      </option>
      <option value="profesor" selected={user.rol === "profesor"}>
        Profesor
      </option>
    </ComboBox>

    <ComboBox id="is_active" label="Activo">
      <option value="true" selected={user.is_active}>Sí</option>
      <option value="false" selected={!user.is_active}>No</option>
    </ComboBox>

    <Input
      id="email"
      label="Correo Electrónico"
      type="email"
      value={user.email_usuario}
      maxlength={70}
      required
    />
    <Input
      id="password"
      label="Contraseña (dejar en blanco para no cambiar)"
      type="password"
      maxlength={30}
      minlength={8}
      placecholder="*********"
    />

    <FormButtons label="Actualizar Usuario" />
  </form>
</FormLayout>

<script src="@pages/admin/usuarios/scripts/edit.ts" type="module" />
