---
import { roles } from "@consts/roles";
import { actions } from "astro:actions";
import { publicRoutesMap } from "@consts/routes";
import type { User } from "@interfaces/index";
import { Input, ComboBox, FormButtons } from "@components/forms/index";
import FormLayout from "@layouts/FormLayout.astro";

export const prerender = false;

const { name } = Astro.params;

const { data, error } = await Astro.callAction(actions.getUserByUsername, {
  username: name ?? "",
  userCredential: import.meta.env.DEFAULT_ADMIN_PASSWORD,
});
const user = data?.data as User;
const originalName = user.nombre_usuario;

if (error || !user) {
  console.error("Error fetching user:", error);
  Astro.redirect(publicRoutesMap[404]);
}

const inputClass =
  "bg-white text-black rounded-md p-2 w-md focus:outline-none focus:ring-2 focus:ring-[#C10230]";
const buttonClass =
  "text-[#C10230] bg-white border-[#C10230] border-solid border-2 px-4 py-2 rounded-md flex items-center justify-center cursor-pointer transition";

const loggedUser = Astro.cookies.get("user")
  ? (JSON.parse(Astro.cookies.get("user")?.value as string) as LoggedUser)
  : null;
const { super: superRole } = roles;
---

<FormLayout
  user={loggedUser}
  formTitle="Editar Usuario"
  pageTitle="Editar Usuario"
>
  <form
    action=""
    method="post"
    autocomplete="on"
    id="form-usuario"
    class="text-white"
  >
    <Input
      id="originalName"
      label="Nombre Actual"
      value={originalName}
      hidden
    />
    <Input
      id="name"
      label="Nombre"
      value={user.nombre_usuario}
      maxlength={100}
      minlength={3}
      required
    />

    <ComboBox id="rol" label="Rol">
      <option value="superuser" selected={user.rol === "superuser"}>
        Administrador
      </option>
      <option value="profesor" selected={user.rol === "profesor"}>
        Profesor
      </option>
    </ComboBox>

    <ComboBox id="is_active" label="Activo">
      <option value="true" selected={user.is_active}>Sí</option>
      <option value="false" selected={!user.is_active}>No</option>
    </ComboBox>

    <Input
      id="email"
      label="Correo Electrónico"
      type="email"
      value={user.email_usuario}
      maxlength={70}
      required
    />
    <Input
      id="password"
      label="Contraseña (dejar en blanco para no cambiar)"
      type="password"
      maxlength={30}
      minlength={8}
      placecholder="*********"
    />

    <FormButtons label="Actualizar Usuario" />
  </form>
</FormLayout>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  import Swal from "sweetalert2/dist/sweetalert2.js";
  import { actions } from "astro:actions";
  import { privateRoutesMap } from "@consts/routes";
  import { navigate } from "astro:transitions/client";
  import type { User } from "@interfaces/user.interface";
  import {
    validateUsers,
    validateChanges,
  } from "@utils/validation/admin/usuarios-validation";

  const form = document.querySelector("#form-usuario") as HTMLFormElement;
  const userCredential = "123456789";
  const btnSubmit = form!.querySelector(
    "button[type='submit']"
  ) as HTMLButtonElement;
  const btnCancel = document.getElementById("btn-cancel") as HTMLButtonElement;

  btnCancel.addEventListener("click", (e) => {
    e.preventDefault();
    navigate(privateRoutesMap.ADMINS_USERS);
  });

  form.addEventListener("submit", (e) => e.preventDefault());

  btnSubmit.addEventListener("click", async (e) => {
    e.preventDefault();
    btnSubmit.disabled = true;
    btnSubmit.classList.add("opacity-50", "cursor-not-allowed");
    const formData = new FormData(form);
    const name = formData.get("name")?.toString().trim();
    const email = formData.get("email")?.toString().trim();
    const password = formData.get("password")?.toString().trim() ?? "";
    const rol = formData.get("rol")?.toString().trim();

    const errorMessage = validateUsers(formData, true);

    if (errorMessage.length > 0) {
      Swal.fire("Error", errorMessage, "error");
      btnSubmit.disabled = false;
      btnSubmit.classList.remove("opacity-50", "cursor-not-allowed");
      return;
    }

    formData.set("name", name ?? "");
    formData.set("email", email ?? "");
    formData.set("password", password ?? "");
    formData.set("rol", rol ?? "");

    const originalName = formData.get("originalName")?.toString().trim() ?? "";
    try {
      console.log(originalName);
      const { data: dataActual, error: errorActual } =
        await actions.getUserByUsername({
          username: originalName,
          userCredential: "Administrador123",
        });
      const user: User = dataActual?.data as User;
      console.log("user actual:", user);

      if (errorActual || !user) {
        Swal.fire(
          "Error",
          "Error al obtener los datos del usuario actual",
          "error"
        );
        btnSubmit.disabled = false;
        btnSubmit.classList.remove("opacity-50", "cursor-not-allowed");
        return;
      }
      const validationChanges = validateChanges(formData, user);
      console.log("validationChanges:", validationChanges);
      if (validationChanges != "") {
        Swal.fire("Error", validationChanges, "error");
        btnSubmit.disabled = false;
        btnSubmit.classList.remove("opacity-50", "cursor-not-allowed");
        return;
      }

      if (password === "") {
        formData.delete("password");
      }

      formData.append("userCredential", userCredential);
      try {
        const { data, error } = await actions.updateUser(formData);

        if (error) {
          console.error("Error:", error);
          if (error.message.toString().includes("validation")) {
            await Swal.fire({
              icon: "error",
              title: "Error de validación",
              text: error.message,
            });
          } else {
            await Swal.fire("Error", "Error al actualizar el usuario", "error");
          }
          btnSubmit.disabled = false;
          btnSubmit.classList.remove("opacity-50", "cursor-not-allowed");
          return;
        }
        Swal.fire(
          "Éxito",
          `El usuario ${formData.get("originalName")} ha sido actualizado exitósamente.`,
          "success"
        ).then((result) => {
          if (result.isConfirmed) {
            navigate(privateRoutesMap.ADMINS_USERS);
          }
        });
        form.reset();
      } catch (err) {
        Swal.fire("Error", "Error al actualizar el usuario", "error");
        btnSubmit.disabled = false;
        btnSubmit.classList.remove("opacity-50", "cursor-not-allowed");
      }
    } catch (err) {
      console.error(err as Error);
      Swal.fire("Error", "Error al actualizar el usuario", "error");
      btnSubmit.disabled = false;
      btnSubmit.classList.remove("opacity-50", "cursor-not-allowed");
    } finally {
      btnSubmit.disabled = false;
      btnSubmit.classList.remove("opacity-50", "cursor-not-allowed");
    }
  });
</script>
