---
import { privateRoutesMap } from "@consts/routes";
import { Table } from "@components/tables/Table";
import type { SortOptions, TableActions, TableContent } from "@interfaces/table-actions.interface";
import type { User } from "@interfaces/user.interface";
import EditIcon from "@assets/edit_icon_black.svg";
import DeleteIcon from "@assets/delete_icon_black.svg";
import { actions } from "astro:actions";
import TableActionsComponent from "@components/partidosProfesor/TableActions.astro";
import AdminPanelLayout from "@layouts/AdminPanelLayout.astro";
import NotAuthorized from "@components/shared/NotAuthorized.astro";
import PaginationComponent from "@components/shared/Pagination.astro";
import type { Pagination } from "@interfaces/pagination.interface";

const { AUTH_REGISTER, EDIT_USER } = privateRoutesMap;

const searchParams = Astro.url.searchParams;
const pageParam = Number(searchParams.get("page") ?? 1);
const sortParam = searchParams.get("sortBy") ?? "";
const orderParam = searchParams.get("orderBy") ?? "asc";

const user = Astro.cookies.get("user")
  ? (JSON.parse(Astro.cookies.get("user")?.value as string) as LoggedUser)
  : null;

const headers: TableContent[] = [
  { data: "Nombre de usuario" },
  { data: "Email" },
  { data: "Rol" },
  { data: "Activo" },
  { data: "Editar" },
  { data: "Eliminar" },  
];

const { data, error } = await Astro.callAction(actions.getUsers, {
  userCredential: import.meta.env.DEFAULT_ADMIN_PASSWORD,
  page: pageParam,
  pageSize: 10,
});

if (error || !data) {
  console.error("Error fetching users:", error);
  throw new Error("No se pudo obtener la lista de usuarios.");
}

const users: User[] =
  data.data.items.filter((u) => u.nombre_usuario !== user?.nickname) ?? [];
const paginationData: Pagination = data.data.paginationData as Pagination;

const sortOptions: SortOptions[] = [
  { searchParam: "nombre_usuario", displayName: "Nombre de usuario" },
  { searchParam: "email_usuario", displayName: "Email" },
  { searchParam: "rol", displayName: "Rol" },
  { searchParam: "is_active", displayName: "Activo" },
];

const rows = users.map((u) => [u.nombre_usuario, u.email_usuario, u.rol, u.is_active ? "Sí" : "No"]).sort(
  (a, b) => {
    if (sortParam && orderParam) {
      const index = headers.indexOf(
        sortOptions[0]
          ? headers.find(
              (header) =>
                header.data.toLowerCase() ===
                sortOptions[0].displayName.toLowerCase()
            )!
          : headers[0]
      );
      if (index !== -1) {
        const valueA = a[index] as string;
        const valueB = b[index] as string;
        if (orderParam === "asc") {
          return valueA.localeCompare(valueB);
        } else {
          return valueB.localeCompare(valueA);
        }
      }
    }
    return 0;
  }
);

function handleDelete(username: string) {
  console.log(`Usuario ${username} eliminado`);
}

const tableActions: TableActions[] = [];

tableActions.push(
  {
    href: `${EDIT_USER}/`,
    icon: EditIcon.src,
    alt: "Editar usuario",
    type: "link",
  },
  {
    action: handleDelete,
    icon: DeleteIcon.src,
    alt: "Eliminar usuario",
    type: "button",
  }
);


---

<AdminPanelLayout title="Panel de Administración">
  {
    !user ? (
      <NotAuthorized />
    ) : (
      <div class="flex flex-col justify-center w-full">
        <div class="flex flex-row gap-5 items-baseline justify-between w-full">
          <h1 class="font-bold text-2xl pr-5">Usuarios</h1>
            <TableActionsComponent
              canSort={true}
              sortByOptions={sortOptions}
              buttonLabel="Crear Usuario"
              buttonHref={AUTH_REGISTER}
              placeholderText="Buscar usuario..."
            />
        </div>
        <div
          class:list={[
            "flex text-lg mt-3 w-svw justify-center text-black font-medium",
            users.length === 0 ? "" : "hidden",
          ]}
        >
          <span>No se encontraron usuarios</span>
        </div>
        <div
          class:list={[
            "relative overflow-x-auto w-svw mt-5 flex justify-center",
            users.length === 0 ? "hidden" : "",
          ]}
        >
          <Table headers={headers}>
            {rows.map((row) => (
              <tr class="border-b" id={`user-row-${row[0]}`}>
                {row.map((cell) => (
                  <td class="px-6 py-4">{cell}</td>
                ))}
                {tableActions &&
                  tableActions.length > 0 &&
                  tableActions.map((action) =>
                    action.type === "link" ? (
                      <td class="px-6 py-4">
                        <a
                          class="cursor-pointer no-underline"
                          href={action.href?.toString() + row[0]}
                        >
                          <img
                            class="size-8"
                            src={action.icon}
                            alt={action.alt}
                          />
                        </a>
                      </td>
                    ) : (
                      action.action && (
                        <td class="px-6 py-4">
                          <button
                            type="button"
                            id="delete-button"
                            value={row[0]}
                            data-delete-user
                            data-username={row[0]}
                            data-is-active={row[3] === "Sí" ? true : false}
                            class="cursor-pointer"
                          >
                            <img
                              class="size-8"
                              src={action.icon}
                              alt={action.alt}
                            />
                          </button>
                        </td>
                      )
                    )
                  )}
              </tr>
            ))}
          </Table>
        </div>
          <div
            id="navigation"
            class={`flex flex-row justify-center gap-5 my-5 ${paginationData.total_pages <= 1 ? 'hidden' : ''}`}
          >
            <PaginationComponent totalPages={paginationData.total_pages} />
        </div>
      </div>
    )
  }
</AdminPanelLayout>

<script>
  import { actions } from "astro:actions";
  import Swal from "sweetalert2";
  import { navigate } from "astro:transitions/client";
  import { privateRoutesMap } from "@consts/routes";

  const users = await actions.getUsers({
    userCredential: import.meta.env.DEFAULT_ADMIN_PASSWORD,
    page: 1,
    pageSize: 20,
  });
  const searchBox = document.getElementById("search-box") as HTMLInputElement;

  document.addEventListener("click", async (event) => {
    const target = event.target as HTMLElement;
    if (target.closest("[data-delete-user]")) {
      const button = target.closest("[data-delete-user]") as HTMLButtonElement;
      const username = button.getAttribute("data-username");
      const isActive = button.getAttribute("data-is-active");

      if (username && isActive) {
        await Swal.fire({
          icon: "error",
          title: "No se pudo eliminar el usuario",
          text: "El usuario no está activo y no puede ser eliminado.",
        });
        return;
      }

      if (username) {
        const formData = new FormData();
        formData.append("nickname", username);
        formData.append("userCredential", import.meta.env.DEFAULT_ADMIN_PASSWORD);
        Swal.fire({
          title: `¿Estás seguro de eliminar al usuario ${username}?`,
          text: "Esta acción no se puede deshacer.",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#d33",
          cancelButtonColor: "#3085d6",
          confirmButtonText: "Eliminar",
          cancelButtonText: "Cancelar",
        }).then(async (result) => {
          if (result.isConfirmed) {
            const { data, error } = await actions.deleteUser(formData);
            if (error) {
              Swal.fire({
                icon: "error",
                title: "Error al eliminar el usuario",
                text: error.message,
              });
            } else {
              Swal.fire(
                "Éxito",
                `Usuario ${username} eliminado`,
                "success"
              ).then(() => {
                navigate(privateRoutesMap.ADMINS_USERS);
              });
            }
          }
        });
      }
    }
  });

  searchBox.addEventListener("input", async () => {
    const search = searchBox.value;
    const rows = document.querySelectorAll("tr[id^='user-row-']");
    rows.forEach((row) => {
      const usernameCell = row.querySelector("td:first-child");
      const emailCell = row.querySelector("td:nth-child(2)");
      if (usernameCell || emailCell) {
        const username = usernameCell?.textContent ?? "";
        const email = emailCell?.textContent ?? "";
        if (username.toLowerCase().includes(search.toLowerCase()) || email.toLowerCase().includes(search.toLowerCase())) {
          row.classList.remove("hidden");
        } else {
          row.classList.add("hidden");
        }
      } 
    });
  });
</script>
