---
import "@styles/global.css";
import FormLayout from "@layouts/FormLayout.astro";
import arrowNext from "@assets/arrow_next.svg";
import NotAuthorized from "@components/shared/NotAuthorized.astro";
import { actions } from "astro:actions";
import { roles } from "@consts/roles";
import type { Equipo, Temporada, Torneo } from "@interfaces/torneos.interface";
import Swal from "sweetalert2";
import { privateRoutesMap, buttonClass, inputClass } from "@consts/index";

const { temporadaId } = Astro.params;

const user = Astro.cookies.get("user")
  ? (JSON.parse(Astro.cookies.get("user")?.value as string) as LoggedUser)
  : null;

const { data: torneosData, error: errorData } = await Astro.callAction(
  actions.getTorneos,
  {},
);
const { data: temporadaData, error: errorTemporada } = await Astro.callAction(
  actions.getTemporadaById,
  { id: Number.parseInt(temporadaId ?? "0") },
);

if (errorData) {
  console.error("Error fetching torneos:", errorData);
  Swal.fire("Error", "Error al cargar los torneos", "error").then((result) => {
    if (result.isConfirmed) {
      Astro.redirect(privateRoutesMap.VER_TEMPORADAS);
    }
  });
} else if (errorTemporada) {
  console.error("Error fetching temporada:", errorTemporada);
  Swal.fire("Error", "Error al cargar la temporada", "error").then((result) => {
    if (result.isConfirmed) {
      Astro.redirect(privateRoutesMap.VER_TEMPORADAS);
    }
  });
}

if (!torneosData || !temporadaData) {
  console.error("No data received for torneos");
  Swal.fire(
    "Error",
    "No se pudo recuperar los datos del servidor.",
    "error",
  ).then(() => {
    Astro.redirect(privateRoutesMap.VER_TEMPORADAS);
  });
}

const temporada: Temporada = temporadaData!.data;
const torneos: Torneo[] = torneosData?.data ?? [];
---

<FormLayout
  formTitle={"Editar Temporada"}
  pageTitle={"Editar Temporada"}
  user={user}
>
  <form id="form-temporada" class="flex flex-col w-full max-w-md">
    <input
      type="number"
      hidden
      value={temporada?.idtemporada ?? ""}
      name="idtemporada"
      id="idtemporada"
      class="hidden"
    />
    <div class="flex gap-2 flex-col mb-4">
      <label for="nombretemporada" class="text-base font-medium"
        >Nombre de la Temporada</label
      >
      <input
        id="nombretemporada"
        name="nombretemporada"
        maxlength="100"
        value={temporada?.nombretemporada ?? ""}
        type="text"
        class={inputClass}
        required
      />
    </div>

    <div class="flex gap-2 flex-col mb-4">
      <label for="tipotemporada" class="text-base font-medium"
        >Tipo de Temporada</label
      >
      <select name="tipotemporada" class={inputClass} id="tipotemporada">
        <option value="oficial" selected={temporada?.tipotemporada === true}
          >Oficial</option
        >
        <option value="amistoso" selected={temporada?.tipotemporada === false}
          >Amistoso</option
        >
      </select>
    </div>

    <div class="flex gap-2 flex-col mb-4">
      <label for="idtorneo" class="text-base font-medium">Torneo</label>
      <select name="idtorneo" class={inputClass} id="idtorneo">
        <option value="" disabled selected>Selecciona un torneo</option>
        {
          torneos.map((torneo: Torneo) => (
            <option
              value={torneo.idtorneo}
              id={`torneo-${torneo.idtorneo}`}
              selected={torneo.idtorneo === temporada?.idtorneo}
            >
              {torneo.nombretorneo}
            </option>
          ))
        }
      </select>
    </div>
  </form>

  <div class="flex justify-center text-center mt-5 mx-5 pt-2 gap-5">
    <button class={buttonClass} type="button" id="btn-cancel">
      Cancelar
    </button>
    <button class={buttonClass} type="submit">
      Actualizar Temporada
      <img src={arrowNext.src} class="size-7 rotate-180" alt="" />
    </button>
  </div>
</FormLayout>

<script>
  import Swal from "sweetalert2";
  import { actions } from "astro:actions";
  import { navigate } from "astro:transitions/client";
  import { privateRoutesMap } from "@consts/routes";

  const form = document.querySelector("#form-temporada") as HTMLFormElement;
  const btnSubmit = document.querySelector(
    'button[type="submit"]',
  ) as HTMLButtonElement;

  const btnCancel = document.getElementById(
    "btn-cancel"
  ) as HTMLButtonElement;

  btnCancel.addEventListener("click", (e) => {
    e.preventDefault();
    navigate(privateRoutesMap.VER_TEMPORADAS);
  });

  btnSubmit.addEventListener("click", async () => {
    btnSubmit.disabled = true;
    btnSubmit.classList.add("opacity-50", "cursor-not-allowed");

    const formData = new FormData(form);
    const idTemporada = formData.get("idtemporada")?.toString().trim() ?? "";
    const nombreTemporada =
      formData.get("nombretemporada")?.toString().trim() ?? "";
    const tipoTemporada =
      formData.get("tipotemporada")?.toString().trim() ?? "";
    const nombreTorneo = formData.get("idtorneo")?.toString().trim() ?? "";
    console.log("Datos del formulario:", formData.entries());

    try {
      const { data, error } = await actions.updateTemporada(formData);

      if (error) {
        Swal.fire("Error", error.message, "error");
        btnSubmit.disabled = false;
        btnSubmit.classList.remove("opacity-50", "cursor-not-allowed");
        return;
      }
      Swal.fire("Éxito", "Temporada actualizada", "success").then((result) => {
        if (result.isConfirmed) {
          navigate(privateRoutesMap.VER_TEMPORADAS);
        }
      });
      form.reset();
      btnSubmit.disabled = false;
      btnSubmit.classList.remove("opacity-50", "cursor-not-allowed");
    } catch (err) {
      console.error(err as Error);
      Swal.fire("Error", "Error al actualizar la temporada", "error");
    }
  });

</script>
