---
import "@styles/global.css";
import FormLayout from "@layouts/FormLayout.astro";
import arrowNext from "@assets/arrow_next.svg";
import NotAuthorized from "@components/shared/NotAuthorized.astro";
import { actions } from "astro:actions";
import { roles } from "@consts/roles";
import type { Torneo } from "@interfaces/torneos.interface";
import Swal from "sweetalert2";
import { buttonClass, inputClass } from "@consts/index";

const user = Astro.cookies.get("user")
  ? (JSON.parse(Astro.cookies.get("user")?.value as string) as LoggedUser)
  : null;

const { data, error } = await Astro.callAction(actions.getTorneos, {});

if (error) {
  console.error("Error fetching torneos:", error);
  Swal.fire("Error", "Error al cargar los torneos", "error");
}

if (!data) {
  console.error("No data received for torneos");
  Swal.fire("Warning", "No se recibieron datos de los torneos.", "warning");
}

const torneos: Torneo[] = data?.data ?? [];
---

<FormLayout
  formTitle={"Agregar Temporada"}
  pageTitle={"Agregar Temporada"}
  user={user}
>
  <form action="" method="post" id="form-temporada" class="flex flex-col w-full max-w-md">
    <div class="flex gap-2 flex-col mb-4">
      <label for="nombretemporada" class="text-base font-medium"
        >Nombre de la Temporada</label
      >
      <input
        id="nombretemporada"
        name="nombretemporada"
        type="text"
        maxlength="100"
        class={inputClass}
        required
      />
    </div>

    <div class="flex gap-2 flex-col mb-4">
      <label for="tipotemporada" class="text-base font-medium"
        >Tipo de Temporada</label
      >
      <select name="tipotemporada" class={inputClass} id="tipotemporada">
        <option value="oficial">Oficial</option>
        <option value="amistoso">Amistoso</option>
      </select>
    </div>

    <div class="flex gap-2 flex-col mb-4">
      <label for="idtorneo" class="text-base font-medium">Torneo</label>
      <select name="idtorneo" class={inputClass} id="idtorneo" required>
        <option value="" disabled selected>Selecciona un torneo</option>
        {
          torneos.map((torneo: Torneo) => (
            <option value={torneo.idtorneo} id={`torneo-${torneo.idtorneo}`}>
              {torneo.nombretorneo}
            </option>
          ))
        }
      </select>
    </div>
    
    <div class="flex gap-2 justify-center pt-5">
      <button class={buttonClass} type="submit">
        Agregar Temporada
        <img src={arrowNext.src} class="size-7 rotate-180" alt="" />
      </button>
    </div>
  </form>
</FormLayout>

<script>
  import Swal from "sweetalert2";
  import { actions } from "astro:actions";
import { navigate } from "astro:transitions/client";
import { privateRoutesMap } from "@consts/routes";

  const form = document.querySelector("#form-temporada") as HTMLFormElement;
  const btnSubmit = document.querySelector(
    'button[type="submit"]'
  ) as HTMLButtonElement;

  btnSubmit.addEventListener("click", async () => {
    btnSubmit.disabled = true;
    btnSubmit.classList.add("opacity-50", "cursor-not-allowed");
    const formData = new FormData(form);
    const nombreTemporada = formData.get("nombretemporada")?.toString().trim() ?? "";
    const tipoTemporada = formData.get("tipotemporada")?.toString().trim() ?? "";
    const nombreTorneo = formData.get("idtorneo")?.toString().trim() ?? "";
    console.log("Datos del formulario de temporadas: " + formData.entries());
    
    try {
      const { data, error } = await actions.createTemporada(formData);

      if (error) {
        Swal.fire("Error", error.message, "error");
        btnSubmit.disabled = false;
        btnSubmit.classList.remove("opacity-50", "cursor-not-allowed");
        return;
      }
      Swal.fire("Éxito", "Temporada creada", "success").then((result) => {
        if (result.isConfirmed) {
          navigate(privateRoutesMap.ADMIN_PARTIDOS);
        }
      });
      form.reset();
    } catch (err) {
      console.error(err as Error);
      Swal.fire("Error", "Error al crear el partido", "error");
    }
  });

  form?.addEventListener("submit", async (e) => {
    e.preventDefault();
  });
</script>
