---
import { getAddHref, matchOptions } from "@utils/handle-partidos-table";
import { actions } from "astro:actions";
import AdminPanelLayout from "@layouts/AdminPanelLayout.astro";
import PartidosSideBar from "@components/partidosProfesor/PartidosSideBar.astro";
import NotAuthorized from "@components/shared/NotAuthorized.astro";
import type { Link } from "@interfaces/link.interface";
import PartidosProfesorTable from "@components/partidosProfesor/PartidosProfesorTable.astro";
import Pagination from "@components/shared/Pagination.astro";
import PartidosProfesorActions from "@components/partidosProfesor/TableActions.astro";
import type { SortOptions } from "@interfaces/index";
import { matchSidebarLinks } from "@consts/index";

const user: LoggedUser | null = Astro.cookies.get("user")
  ? (JSON.parse(Astro.cookies.get("user")?.value as string) as LoggedUser)
  : null;

const searchParams = Astro.url.searchParams;
const pageParam = Number(searchParams.get("page") ?? 1);

const { data, error } = await Astro.callAction(actions.getTemporadas, {
  page: pageParam,
});

if (error) {
  console.error("Error fetching torneos data:", error);
  throw new Error("No se pudo obtener la lista de temporadas.");
}


const pages = data.pages;

const sidebarLinks: Link[] = matchSidebarLinks;

const sortOptions: SortOptions[] = [
  { searchParam: "nombretemporada", displayName: "Nombre" },
  { searchParam: "torneo_nombre", displayName: "Torneo" },
  { searchParam: "fechainiciotemporada", displayName: "Fecha de Inicio" },
  { searchParam: "fechafintemporada", displayName: "Fecha de Fin" },
  { searchParam: "tipotemporada", displayName: "Tipo" },
  { searchParam: "temporadaactiva", displayName: "Activo" },
];
---

<AdminPanelLayout title="Gestión de Torneos y Partidos">
  <div id="GestionTorneosPartidos" class="my-5 h-svh w-full max-w-7xl">
    {
      user ? (
        <div class="flex flex-col justify-center align-center w-full">
          <div class="flex flex-row justify-between gap-10 w-full">
            <div class="w-fit">
              <PartidosSideBar
                items={sidebarLinks}
                selectedItem={matchOptions.temporadas}
              />
            </div>
            <div class="flex flex-col items-start self-start justify-start w-full">
              <PartidosProfesorActions
                sortByOptions={sortOptions}
                buttonLabel="Crear Temporada"
                placeholderText="Buscar temporada..."
                buttonHref={getAddHref(matchOptions.temporadas)}
              />
              <PartidosProfesorTable filter={matchOptions.temporadas} />
            </div>
          </div>
          <div class={`${pages <= 1 ? "hidden" : "block"} w-full`}>
            <Pagination totalPages={pages} />
          </div>
        </div>
      ) : (
        <div class="md:w-svw lg:w-shw w-shw flex flex-wrap justify-self-start flex-col">
          <NotAuthorized />
        </div>
      )
    }
  </div>
</AdminPanelLayout>

<script>
  const searchBox = document.getElementById("search-box") as HTMLInputElement;

  searchBox.addEventListener("input", async () => {
    const search = searchBox.value;
    const rows = document.querySelectorAll("tr[id^='match-temporadas-']");
    rows.forEach((row) => {
      const temporadaName =
        row.querySelector("td:nth-child(1)")?.textContent || "";
      if (
        temporadaName.toLowerCase().includes(search.toLowerCase())
      ) {
        row.classList.remove("hidden");
      } else {
        row.classList.add("hidden");
      }
    });
  });
</script>
