---
import "@styles/global.css";
import FormLayout from "@layouts/FormLayout.astro";
import arrowNext from "@assets/arrow_next.svg";
import { actions } from "astro:actions";
import { buttonClass, inputClass } from "@consts/index";
import { Buffer } from "buffer";
import NotFoundImage from "@assets/not_found.svg";
const user = Astro.cookies.get("user")
  ? (JSON.parse(Astro.cookies.get("user")?.value as string) as LoggedUser)
  : null;

// Obtener id desde la URL
const { equipoId } = Astro.params;

// Obtener lista de instituciones
const { data: institucionesData, error: institucionesError } =
  await Astro.callAction(actions.getInstituciones, { pageSize: 1000 });
if (institucionesError || !institucionesData) {
  console.error("Error fetching instituciones:", institucionesError);
  throw new Error("No se pudo obtener la lista de instituciones.");
}
const instituciones = institucionesData.data;

// Obtener datos del equipo actual
const { data: equipoData, error: equipoError } = await Astro.callAction(
  actions.getEquipoById,
  { id: Number(equipoId) }
);

if (equipoError || !equipoData) {
  console.error("Error obteniendo equipo:", equipoError);
  throw equipoError;
}

const equipo = equipoData.data;

// Convertir el logo binario a base64 si existe
const logoEquipo = equipo.imagenequipo ?? null;
---

<FormLayout formTitle="Editar Equipo" pageTitle="Editar Equipo" user={user}>
  <form id="form-equipo" class="flex flex-col w-full max-w-md">
    <div class="flex gap-2 flex-col mb-4" hidden>
      <label for="idequipo" class="text-base font-medium">ID del Equipo</label>
      <input
        id="idequipo"
        name="idequipo"
        maxlength="100"
        type="text"
        class={inputClass}
        value={equipo.idequipo}
      />
    </div>
    <!-- Nombre del equipo -->
    <div class="flex gap-2 flex-col mb-4">
      <label for="nombreequipo" class="text-base font-medium"
        >Nombre del Equipo</label
      >
      <input
        id="nombreequipo"
        name="nombreequipo"
        maxlength="100"
        type="text"
        class={inputClass}
        value={equipo.nombreequipo}
        required
      />
    </div>

    <!-- Institución -->
    <div class="flex gap-2 flex-col mb-4">
      <label for="idinstitucion" class="text-base font-medium"
        >Institución</label
      >
      <select
        id="idinstitucion"
        name="idinstitucion"
        class={inputClass}
        required
      >
        <option value="" disabled>Selecciona una institución</option>
        {
          instituciones.map((inst) => (
            <option
              value={inst.idinstitucion}
              selected={inst.idinstitucion === equipo.idinstitucion}
            >
              {inst.nombreinstitucion}
            </option>
          ))
        }
      </select>
    </div>

    <!-- Nuevo logo -->
    <div class="flex gap-2 flex-col mb-4">
      <label for="imagenequipo" class="text-base font-medium"
        >Cambiar logo (opcional)</label
      >
      <input
        id="imagenequipo"
        name="imagenequipo"
        type="file"
        class={inputClass}
        accept="image/*"
      />
    </div>

    {
      logoEquipo && (
        <div class="flex flex-col items-start mb-4">
          <label class="text-base font-medium mb-2">Logo actual</label>
          <img
            src={logoEquipo ?? NotFoundImage.src }
            alt="Logo del equipo"
            class="w-fit h-fit object-cover rounded-lg shadow-md border"
          />
        </div>
      )
    }

    <!-- Estado activo -->
    <div class="flex gap-2 flex-col mb-4">
      <label for="equipoactivo" class="text-base font-medium">Activo</label>
      <select id="equipoactivo" name="equipoactivo" class={inputClass}>
        <option value="true" selected={equipo.equipoactivo}>Sí</option>
        <option value="false" selected={!equipo.equipoactivo}>No</option>
      </select>
    </div>

    <!-- Botones -->
    <div class="flex justify-center text-center mt-5 mx-5 pt-2 gap-5">
      <button class={buttonClass} type="button" id="btn-cancel">
        Cancelar
      </button>
      <button class={buttonClass} type="submit" id="btn-submit">
        Actualizar Equipo
        <img src={arrowNext.src} class="size-7 rotate-180" alt="" />
      </button>
    </div>
  </form>
</FormLayout>

<script>
  import Swal from "sweetalert2";
  import { actions } from "astro:actions";
  import { privateRoutesMap } from "@consts/routes";
  import { navigate } from "astro:transitions/client";
  import {
    validateEquipos,
    isEquipoUpdated,
  } from "@utils/validation/admin/equipos-validation";
import { fileToBase64 } from "@utils/index";

  const form = document.querySelector("#form-equipo") as HTMLFormElement;
  const btnSubmit = document.querySelector("#btn-submit") as HTMLButtonElement;
  const btnCancel = document.querySelector("#btn-cancel") as HTMLButtonElement;

  btnCancel.addEventListener("click", () =>
    navigate(privateRoutesMap.VER_EQUIPOS)
  );

  form.addEventListener("submit", (e) => e.preventDefault());

  btnSubmit.addEventListener("click", async () => {
    btnSubmit.disabled = true;
    btnSubmit.classList.add("opacity-50", "cursor-not-allowed");

    const formData = new FormData(form);
    const errorMessage = validateEquipos(formData);

    if (errorMessage.length > 0) {
      await Swal.fire({
        icon: "error",
        title: "Error",
        html: errorMessage,
      });
      btnSubmit.disabled = false;
      btnSubmit.classList.remove("opacity-50", "cursor-not-allowed");
      return;
    }

    const equipoOriginalData = await actions.getEquipoById.orThrow({
      id: Number(formData.get("idequipo")),
    });
    const equipoOriginal = equipoOriginalData.data;

    const equipoChanged = isEquipoUpdated(equipoOriginal, formData);
    if (!equipoChanged) {
      await Swal.fire(
        "Información",
        "No se han detectado cambios en el equipo.",
        "info"
      );
      btnSubmit.disabled = false;
      btnSubmit.classList.remove("opacity-50", "cursor-not-allowed");
      return;
    }

    // Normalizar datos
    const activo = formData.get("equipoactivo") === "true";
    formData.set("equipoactivo", activo.toString());

    const logo = formData.get("imagenequipo");

    try {
      if (logo) {
        const file = logo as File;
        const base64 = await fileToBase64(file)
        formData.set("imagenequipo", base64); 
      }
      
      const { data, error } = await actions.updateEquipo(formData);
      if (error) {
        await Swal.fire("Error", error.message, "error");
      } else {
        await Swal.fire("Éxito", "Equipo actualizado correctamente", "success");
        navigate(privateRoutesMap.VER_EQUIPOS);
      }
    } catch (err) {
      console.error("Error al actualizar equipo:", err);
      Swal.fire("Error", "No se pudo actualizar el equipo", "error");
      btnSubmit.disabled = false;
      btnSubmit.classList.remove("opacity-50", "cursor-not-allowed");
    } finally {
      btnSubmit.disabled = false;
      btnSubmit.classList.remove("opacity-50", "cursor-not-allowed");
    }
  });
</script>
