---
import "@styles/global.css";
import FormLayout from "@layouts/FormLayout.astro";
import arrowNext from "@assets/arrow_next.svg";
import { actions } from "astro:actions";
import type { Equipo, Partido } from "@interfaces/torneos.interface";
import Swal from "sweetalert2";
import { privateRoutesMap, buttonClass, inputClass } from "@consts/index";

const user = Astro.cookies.get("user")
  ? (JSON.parse(Astro.cookies.get("user")?.value as string) as LoggedUser)
  : null;
---

<FormLayout formTitle="Agregar Partido" pageTitle="Agregar Partido" user={user}>
  <form
    action=""
    method="post"
    id="form-equipo"
    class="flex flex-col w-full max-w-md"
  >
    <div class="flex gap-2 flex-col mb-4">
      <label for="nombreequipo" class="text-base font-medium">Nombre</label>
      <input
        id="nombreequipo"
        name="nombreequipo"
        maxlength="100"
        type="text"
        class={inputClass}
        required
      />
    </div>

    <div class="flex gap-2 flex-col mb-4" hidden>
      <label for="logoequipo" class="text-base font-medium">Logo</label>
      <input id="logoequipo" name="logoequipo" type="file" class={inputClass} />
    </div>

    <div class="flex justify-center text-center mt-5 mx-5 pt-2 gap-5">
      <button class={buttonClass} type="button" id="btn-cancel">
        Cancelar
      </button>
      <button class={buttonClass} type="submit">
        Agregar Equipo
        <img src={arrowNext.src} class="size-7 rotate-180" alt="" />
      </button>
    </div>
  </form>
</FormLayout>

<script>
  import Swal from "sweetalert2";
  import { actions } from "astro:actions";
  import { privateRoutesMap } from "@consts/routes";
  import { navigate } from "astro:transitions/client";

  const form = document.querySelector("#form-equipo") as HTMLFormElement;
  const btnSubmit = document.querySelector(
    'button[type="submit"]',
  ) as HTMLButtonElement;

  const btnCancel = document.getElementById(
    "btn-cancel"
  ) as HTMLButtonElement;

  btnCancel.addEventListener("click", (e) => {
    e.preventDefault();
    navigate(privateRoutesMap.ADMIN_PARTIDOS);
  });

  btnSubmit.addEventListener("click", async () => {
    btnSubmit.disabled = true;
    btnSubmit.classList.add("opacity-50", "cursor-not-allowed");
    const formData = new FormData(form);

    const logo: File = formData.get("logoequipo") as File;
    if (logo && logo.size > 0) {
      formData.set("logoequipo", logo);
    } else {
      formData.delete("logoequipo");
    }

    try {
      const { data, error } = await actions.createEquipo(formData);

      if (error) {
        Swal.fire("Error", "Error al crear el equipo", "error");
        btnSubmit.disabled = false;
        btnSubmit.classList.remove("opacity-50", "cursor-not-allowed");
        return;
      }
      form.reset();
      Swal.fire("Éxito", "Equipo creado", "success").then((result) => {
        if (result.isConfirmed) {
          navigate(privateRoutesMap.ADMIN_PARTIDOS);
        }
      });
      btnSubmit.disabled = false;
      btnSubmit.classList.remove("opacity-50", "cursor-not-allowed");
    } catch (err) {
      console.error(err as Error);
      Swal.fire("Error", "Error al crear el equipo", "error");
    }
  });

  form.addEventListener("submit", async (e) => {
    e.preventDefault();
  });
</script>
