---
import { ToggleButton } from "@components/atoms/buttons/ToggleButton";
import Pagination from "@components/organisms/Pagination.astro";
import EstadisticasPartidos from "@components/templates/estadisticas/EstadisticasPartidos.astro";
import EstadisticasPartidosFilters from "@components/templates/estadisticas/EstadisticasPartidosFilters.astro";
import { publicRoutesMap } from "@consts/routes";
import type {
  AnalyzedDataTable,
  ProcessDataValues,
  AnalyzedData,
} from "@interfaces/analyzedData.interface";
import type { Player } from "@interfaces/player.interface";
import type { Equipo, Partido } from "@interfaces/torneos.interface";
import Layout from "@layouts/Layout.astro";
import {
filterDataOnDateRange,
  filterDataOnTeam,
  getProcessedData,
  getTeamsIds,
} from "@services/analyzeDataProcess";
import { actions } from "astro:actions";

const page = Number(Astro.url.searchParams.get("page") ?? 1);
const search = Astro.url.searchParams.get("search") ?? "";
const sortBy = Astro.url.searchParams.get("sortBy") ?? "";
const orderBy = Astro.url.searchParams.get("orderBy") ?? "asc";
const groupBy = Astro.url.searchParams.get("groupBy") ?? "";
const startDate = Astro.url.searchParams.get("startDate") ?? "";
const endDate = Astro.url.searchParams.get("endDate") ?? "";

let limit: number = search ? 1000 : 15;
const { PLAYER_STATS, PLAYER_STATS_SEASONS, PLAYER_STATS_TEAM } = publicRoutesMap;
let analyzedData: AnalyzedDataTable[] = [];
let teamsData: Set<{ id: number; name: string }> = new Set();
let totalPages = 1;

try {
  if (search) {
    limit = 1000;
  }
  const [filterData, partidosData, playersData] = await Promise.all([
    Astro.callAction(actions.getAnalyzedData.orThrow, {
      page: page,
      limit: limit,
    }),
    Astro.callAction(actions.getPartidos.orThrow, { page: 1, pageSize: 1000 }),
    Astro.callAction(actions.getJugadores.orThrow, { page: 1, pageSize: 1000 }),
  ]);

  const processedValues: ProcessDataValues = {
    players: playersData.results as Player[],
    analyzedData: filterData.results as AnalyzedData[],
    partidos: partidosData.results as Partido[],
    page: page,
    query: search,
    sortBy: sortBy,
    orderBy: orderBy,
    groupBy: groupBy,
  };

  let data = await getProcessedData(processedValues);
  const teamsIds = getTeamsIds(data);

  for (const id of teamsIds) {
    const teamResult = await Astro.callAction(
      actions.getEquipos.orThrow,
      { pageSize: 10000 }
    )
    const teamFounded = (teamResult.results as Equipo[]).find(t => t.idequipo === id);
    teamsData.add({ id: Number(id), name: teamFounded ? teamFounded.nombreequipo : "" });
  }

  data = filterDataOnTeam(data, Number(groupBy));

  if (startDate && endDate) {
    data = filterDataOnDateRange(data, new Date(startDate), new Date(endDate));
  }

  totalPages = filterData.pages;
  analyzedData = data;
} catch (err) {
  console.error("Error obteniendo datos:", err);
}
---

<Layout>
  <section class="max-w-6xl mx-auto p-6">
    <h1 class="text-2xl font-bold mb-4">Partidos Analizados</h1>

    <div
      class="flex flex-row flex-wrap justify-center self-center-safe px-5 py-4 gap-5"
    >
      <ToggleButton label="Jugador" active={false} href={PLAYER_STATS} />
      <ToggleButton
        label="Temporadas"
        active={false}
        href={PLAYER_STATS_SEASONS}
      />
      <ToggleButton
        label="Equipos"
        active={true}
        href={PLAYER_STATS_TEAM}
      />
    </div>

    <EstadisticasPartidosFilters
      groupLabel="Agrupar por Equipo"
      groupData={teamsData}
      canGroupBySeason={true}
    />

    <div class="overflow-x-auto min-h-1/2">
      <EstadisticasPartidos data={analyzedData} />
    </div>

    {totalPages > 1 && <Pagination totalPages={totalPages} />}
  </section>
</Layout>

<script>
  import { updateUrlParams } from "@utils/index";

  let timeout: number | undefined;
  const order = document.getElementById("orderBy") as HTMLSelectElement;
  const sort = document.getElementById("sortBy") as HTMLSelectElement;
  const search = document.getElementById("search") as HTMLInputElement;
  const group = document.getElementById("groupBy") as HTMLSelectElement;
   const startDate = document.getElementById("startDate") as HTMLInputElement;
  const endDate = document.getElementById("endDate") as HTMLInputElement;


  search.addEventListener("input", async () => {
    clearTimeout(timeout);
    timeout = window.setTimeout(() => updateUrlParams("search", search.value), 1000);
  });

  sort.addEventListener("change", () => updateUrlParams("sortBy", sort.value));
  order.addEventListener("change", () => updateUrlParams("orderBy", order.value));
  group.addEventListener("change", () => updateUrlParams("groupBy", group.value));

  startDate.addEventListener("change", () => {
    if (startDate.value && endDate.value) {
      timeout = window.setTimeout(
        () => updateUrlParams("startDate", startDate.value),
        1500,
      );
    }
  });
  endDate.addEventListener("change", () => {
    if (startDate.value && endDate.value) {
      timeout = window.setTimeout(
        () => updateUrlParams("endDate", endDate.value),
        1500,
      );
    }
  });
</script>
