---
import { privateRoutesMap } from "@consts/routes";
import { Table } from "@components/tables/Table";
import type { TableActions } from "@interfaces/table-actions.interface";
import type { User } from "@interfaces/user.interface";
import EditIcon from "@assets/edit_icon_black.svg";
import DeleteIcon from "@assets/delete_icon_black.svg";
import { actions } from "astro:actions";
import Swal from "sweetalert2";

const { AUTH_REGISTER, EDIT_USER } = privateRoutesMap;

const user = Astro.cookies.get("user")
  ? (JSON.parse(Astro.cookies.get("user")?.value as string) as LoggedUser)
  : null;

const headers = ["Nombre de usuario", "Email", "Rol", "Editar", "Eliminar"];

const { data, error } = await Astro.callAction(actions.getUsers, "123456789");

if (error) {
  console.error("Error fetching users:", error);
  Swal.fire({
    icon: "error",
    title: "Error al obtener los usuarios",
    text: error.message,
  });
}

const users: User[] =
  data?.data.filter((u) => u.nombre_usuario !== user?.nickname) ?? [];

const rows = users.map((u) => [u.nombre_usuario, u.email_usuario, u.rol]);

function handleDelete(username: string) {
  console.log(`Usuario ${username} eliminado`);
}

const tableActions: TableActions[] = [];

tableActions.push(
  {
    href: `${EDIT_USER}/`,
    icon: EditIcon.src,
    alt: "Editar usuario",
    type: "link",
  },
  {
    action: handleDelete,
    icon: DeleteIcon.src,
    alt: "Eliminar usuario",
    type: "button",
  }
);
---

<div class="flex flex-row justify-between w-full">
  <h1 class="font-bold text-2xl">Usuarios</h1>
  <div class="flex flex-row gap-10 w-3/2 justify-end">
    <a
      href={AUTH_REGISTER}
      class="no-underline text-[#C10230] bg-white border-[#C10230] border-solid border-2 px-4 py-2 rounded-md flex cursor-pointer items-center gap-2"
    >
      Agregar Usuario
    </a>
    <input
      type="search"
      name="search"
      placeholder="Buscar usuario..."
      id="search-box"
      class="rounded-md p-2 w-1/4 focus:outline-none focus:ring-1 focus:ring-black text-black border border-solid border-black"
    />
  </div>
</div>
<div
  class:list={[
    "flex text-lg mt-3 w-svw justify-center text-black font-medium",
    users.length === 0 ? "" : "hidden",
  ]}
>
  <span>No se encontraron usuarios</span>
</div>
<div
  class:list={[
    "relative overflow-x-auto w-svw mt-5 flex justify-center",
    users.length === 0 ? "hidden" : "",
  ]}
>
  <Table headers={headers}>
    {
      rows.map((row) => (
        <tr class="border-b" id={`user-row-${row[0]}`}>
          {row.map((cell) => (
            <td class="px-6 py-4">{cell}</td>
          ))}
          {tableActions &&
            tableActions.length > 0 &&
            tableActions.map((action) =>
              action.type === "link" ? (
                <td class="px-6 py-4">
                  <a
                    class="cursor-pointer no-underline"
                    href={action.href?.toString() + row[0]}
                  >
                    <img class="size-8" src={action.icon} alt={action.alt} />
                  </a>
                </td>
              ) : (
                action.action && (
                  <td class="px-6 py-4">
                    <button
                      type="button"
                      id="delete-button"
                      value={row[0]}
                      data-delete-user
                      data-username={row[0]}
                      class="cursor-pointer"
                    >
                      <img class="size-8" src={action.icon} alt={action.alt} />
                    </button>
                  </td>
                )
              )
            )}
        </tr>
      ))
    }
  </Table>
</div>

<script>
  import { actions } from "astro:actions";
  import Swal from "sweetalert2";
  import { navigate } from "astro:transitions/client";

  document.addEventListener("astro:page-load", async () => {
    const users = await actions.getUsers("123456789");
    const searchBox = document.getElementById("search-box") as HTMLInputElement;

    document.addEventListener("click", async (event) => {
      const target = event.target as HTMLElement;
      if (target.closest("[data-delete-user]")) {
        const button = target.closest(
          "[data-delete-user]"
        ) as HTMLButtonElement;
        const username = button.getAttribute("data-username");

        if (username) {
          const formData = new FormData();
          formData.append("nickname", username);
          formData.append("userCredential", "123456789");
          Swal.fire({
            title: `¿Estás seguro de eliminar al usuario ${username}?`,
            text: "Esta acción no se puede deshacer.",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#d33",
            cancelButtonColor: "#3085d6",
            confirmButtonText: "Eliminar",
            cancelButtonText: "Cancelar",
          }).then(async (result) => {
            if (result.isConfirmed) {
              const { data, error } = await actions.deleteUser(formData);
              if (error) {
                Swal.fire({
                  icon: "error",
                  title: "Error al eliminar el usuario",
                  text: error.message,
                });
              } else {
                Swal.fire(
                  "Éxito",
                  `Usuario ${username} eliminado`,
                  "success"
                ).then(() => {
                  navigate("/admin");
                });
              }
            }
          });
        }
      }
    });

    searchBox.addEventListener("input", async () => {
      const search = searchBox.value;
      const rows = document.querySelectorAll("tr[id^='user-row-']");
      rows.forEach((row) => {
        const usernameCell = row.querySelector("td:first-child");
        if (usernameCell) {
          const username = usernameCell.textContent || "";
          if (username.toLowerCase().includes(search.toLowerCase())) {
            row.classList.remove("hidden");
          } else {
            row.classList.add("hidden");
          }
        }
      });
    });
  });
</script>
