---
interface Props {
  href: string;
  imgSrc: string;
  title: string;
  subtitle: string;
}

const { imgSrc, title, subtitle, href } = Astro.props;
---

<a href={href} class="no-underline">
  <div
    class="bg-[#C10230] text-white rounded-sm shadow-lg px-5 py-3 flex flex-col items-center gap-2 h-fit w-48"
  >
    <div
      class="flex justify-items-center-safe align-middle bg-white rounded-md w-fit h-2/5"
    >
      <img
        src={imgSrc}
        alt={title}
        class="flex self-center flex-wrap w-fit h-fit p-5 object-cover"
      />
    </div>
    <div class="flex flex-col text-center gap-1">
      <span class="text-base font-bold">{title}</span>
      <span class="text-sm">{subtitle}</span>
    </div>
  </div>
</a>
