---
import { privateRoutesMap } from "@consts/routes";
import { Table } from "@components/tables/Table";
import type { TableActions } from "@interfaces/table-actions.interface";
import type { User } from "@interfaces/user.interface";
import EditIcon from "@assets/edit_icon_black.svg";
import DeleteIcon from "@assets/delete_icon_black.svg";
import { actions } from "astro:actions";
import type { Player } from "@interfaces/player.interface";
const { REGISTER_PLAYER, EDIT_PLAYER } = privateRoutesMap;

const headers = ["Nombre", "Apellido",  "Posición", "Numero de camiseta", "Editar", "Eliminar"];

const { data, error } = await Astro.callAction(actions.getPlayers, {});

if (error || !data) {
  console.error("Error fetching players:", error);
  throw new Error("No se pudo obtener la lista de jugadores.");
}

const users: Player[] = data.data?.data ?? [];
const total = data.data?.total ?? 0;
const pages = data.data?.pages ?? 0;

const rows = users.map((u) => [u.name, u.lastname, u.position, u.shirtNumber]);

function handleDelete(username: string) {
  console.log(`Usuario ${username} eliminado`);
}

const tableActions: TableActions[] = [];

tableActions.push(
  {
    href: `${EDIT_PLAYER}/`,
    icon: EditIcon.src,
    alt: "Editar jugador",
    type: "link",
  },
  {
    action: handleDelete,
    icon: DeleteIcon.src,
    alt: "Eliminar jugador",
    type: "button",
  }
);


---

<div class="flex flex-row justify-between w-full">
    <h1 class="font-bold text-2xl">Jugadores</h1>
    <div class="flex flex-row gap-10 w-3/2 justify-end">
      <a
        href={REGISTER_PLAYER}
        class="no-underline text-[#C10230] bg-white border-[#C10230] border-solid border-2 px-4 py-2 rounded-md flex cursor-pointer items-center gap-2"
      >
        Agregar Jugador
      </a>
      <input
        type="search"
        name="search"
        placeholder="Buscar jugador..."
        id="search-box"
        class="rounded-md p-2 w-1/4 focus:outline-none focus:ring-1 focus:ring-black text-black border border-solid border-black"
      />
    </div>
  </div>
  <div class="relative overflow-x-auto w-svw mt-5 flex justify-center">
    <Table headers={headers}>
      {
        rows.map((row) => (
          <tr class="border-b">
            {row.map((cell) => (
              <td class="px-6 py-4">{cell}</td>
            ))}
            {tableActions &&
              tableActions.length > 0 &&
              tableActions.map((action) =>
                action.type === "link" ? (
                  <td class="px-6 py-4">
                    <a
                      class="cursor-pointer no-underline"
                      href={action.href?.toString() ?? "" + row[0]}
                    >
                      <img class="size-8" src={action.icon} alt={action.alt} />
                    </a>
                  </td>
                ) : (
                  action.action && (
                    <td class="px-6 py-4">
                      <button
                        type="button"
                        id="delete-button"
                        value={row[0]}
                        data-delete-user
                        data-username={row[0]}
                        class="cursor-pointer"
                      >
                        <img
                          class="size-8"
                          src={action.icon}
                          alt={action.alt}
                        />
                      </button>
                    </td>
                  )
                )
              )}
          </tr>
        ))
      }
    </Table>
  </div>

  <script>
    const searchInput = document.getElementById("search-box") as HTMLInputElement;  
  document.addEventListener("click", (event) => {
    const target = event.target as HTMLElement;
    if (target.closest("[data-delete-user]")) {
      const button = target.closest("[data-delete-user]") as HTMLButtonElement;
      const username = button.getAttribute("data-username");
      if (username) {
        console.log(`Jugador ${username} eliminado`);
      }
    }
  });

  searchInput.addEventListener("input", () => {
    const search = searchInput.value;
    const rows = document.querySelectorAll("tr[id^='user-row-']");
    rows.forEach((row) => {
      const usernameCell = row.querySelector("td:first-child");
      if (usernameCell) {
        const username = usernameCell.textContent || "";
        if (username.toLowerCase().includes(search.toLowerCase())) {
          row.classList.remove("hidden");
        } else {
          row.classList.add("hidden");
        }
      }
    });
  })
</script>
