---
import "@styles/global.css";
import NotFoundImage from "@assets/not_found.svg";
import Layout from "@layouts/Layout.astro";
import TeamCard from "@components/molecules/cards/TeamCard.astro";
import type { GetStaticPaths } from "astro";

export const getStaticPaths = (() => {
    return [
        { params: { team: 'asd' } },
        { params: { team: 'udla' } },
        { params: { team: 'udla2' } },
    ];
}) satisfies GetStaticPaths;

const { team } = Astro.params;
---

<Layout>
    <section class="h-svh pt-7">
        <h1 class="font-bold text-3xl flex pb-3 justify-center">Equipo {team}</h1>
        <div class="flex flex-row flex-wrap justify-center items-center gap-5 mt-4">
            <TeamCard profileImage={NotFoundImage.src} playerName="Jugador 1" playerId={1} />
            <TeamCard profileImage={NotFoundImage.src} playerName="Jugador 2" playerId={2} />
            <TeamCard profileImage={NotFoundImage.src} playerName="Jugador 3" playerId={3} />
            <TeamCard profileImage={NotFoundImage.src} playerName="Jugador 4" playerId={4} />
        </div>
    </section>
</Layout>