---
import "@styles/global.css";
import FormLayout from "@layouts/FormLayout.astro";
import arrowNext from "@assets/arrow_next.svg";
import { actions } from "astro:actions";
import type {
  Equipo,
  Partido,
  Torneo,
  TorneoPartido,
} from "@interfaces/torneos.interface";
import { buttonClass, inputClass } from "@consts/index";
import Swal from "sweetalert2";

const { partidoId } = Astro.params;

const user = Astro.cookies.get("user")
  ? (JSON.parse(Astro.cookies.get("user")?.value as string) as LoggedUser)
  : null;

const { data: partidoData, error: errorPartido } = await Astro.callAction(
  actions.getPartidoById,
  {
    id: Number.parseInt(partidoId ?? "0"),
  },
);
const { data: equiposData, error: errorEquipos } = await Astro.callAction(
  actions.getEquipos,
  {},
);

const { data: torneoData, error: errorTorneos } = await Astro.callAction(
  actions.getTorneos,
  {},
);
const { data: torneoPartidoData, error: errorTorneoPartido } =
  await Astro.callAction(actions.getTorneoPartidosById, {
    idPartido: Number.parseInt(partidoId ?? "0"),
  });

if (errorPartido) {
  console.error("Error fetching partido:", errorPartido);
  throw new Error("Error al cargar el partido");
} else if (errorEquipos) {
  console.error("Error fetching equipos:", errorEquipos);
  throw new Error("Error al cargar los equipos");
} else if (errorTorneos) {
  console.error("Error fetching torneos:", errorTorneos);
  throw new Error("Error al cargar los torneos");
}

if (!equiposData || !partidoData || !torneoData) {
  console.error("No data received for equipos");
  throw new Error("No se recibieron datos necesarios desde el servidor.");
}

const torneos: Torneo[] = torneoData?.data ?? [];
const equipos: Equipo[] = equiposData?.data ?? [];
const partido: Partido = partidoData!.data;

let torneoPartido: TorneoPartido = {
  idpartido: 0,
  idtorneo: 0,
};

if (torneoPartidoData) {
  torneoPartido = torneoPartidoData!.data;
}

const torneo: Torneo = torneos.find(
  (t) => t.idtorneo === torneoPartido.idtorneo,
) as Torneo;
---

<FormLayout formTitle="Editar Partido" pageTitle="Editar Partido" user={user}>
  <form id="form-partido" class="flex flex-col w-full max-w-md">
    <input
      type="number"
      hidden
      value={partido?.idpartido ?? ""}
      name="idpartido"
      id="idpartido"
      class="hidden"
    />
    <div class="flex gap-2 flex-col mb-4">
      <label for="tipopartido" class="text-base font-medium"
        >Tipo de partido</label
      >
      <select name="tipopartido" class={inputClass} id="tipopartido">
        <option value="oficial" selected={partido.tipopartido}>Oficial</option>
        <option value="amistoso" selected={!partido.tipopartido}
          >Amistoso</option
        >
      </select>
    </div>

    <div class="flex gap-2 flex-col mb-4">
      <label for="idtorneo" class="text-base font-medium">Torneo</label>
      <select name="idtorneo" class={inputClass} id="idtorneo" required>
        <option value="" disabled selected>Selecciona un torneo</option>
        {
          torneos.map((torneo: Torneo) => (
            <option
              value={torneo.idtorneo}
              id={`torneo-${torneo.idtorneo}`}
              selected={torneo.idtorneo === torneoPartido.idtorneo}
            >
              {torneo.nombretorneo}
            </option>
          ))
        }
      </select>
    </div>

    <div class="flex gap-2 flex-col mb-4">
      <label for="idequipolocal" class="text-base font-medium"
        >Equipo Local</label
      >
      <select
        name="idequipolocal"
        class={inputClass}
        id="idequipolocal"
        required
      >
        <option value="" disabled selected>Selecciona un equipo</option>
        {
          equipos.map((equipo: Equipo) => (
            <option
              value={equipo.nombreequipo}
              selected={equipo.idequipo === partido?.idequipolocal}
              id={`equipo-${equipo.idequipo}`}
            >
              {equipo.nombreequipo}
            </option>
          ))
        }
      </select>
    </div>

    <div class="flex gap-2 flex-col mb-4">
      <label for="idequipovisitante" class="text-base font-medium"
        >Equipo Visitante</label
      >
      <select
        name="idequipovisitante"
        class={inputClass}
        id="idequipovisitante"
        required
      >
        <option value="" disabled selected>Selecciona un equipo</option>
        {
          equipos.map((equipo: Equipo) => (
            <option
              value={equipo.nombreequipo}
              selected={equipo.idequipo === partido?.idequipovisitante}
              id={`equipo-${equipo.idequipo}`}
            >
              {equipo.nombreequipo}
            </option>
          ))
        }
      </select>
    </div>

    <div class="flex gap-2 flex-col mb-4">
      <label for="marcadorequipolocal" class="text-base font-medium"
        >Marcador Equipo Local</label
      >
      <input
        id="marcadorequipolocal"
        name="marcadorequipolocal"
        type="number"
        value={partido?.marcadorequipolocal ?? ""}
        min="0"
        max="100"
        required
        class={inputClass}
      />
    </div>

    <div class="flex gap-2 flex-col mb-4">
      <label for="marcadorequipovisitante" class="text-base font-medium"
        >Marcador Equipo Visitante</label
      >
      <input
        id="marcadorequipovisitante"
        name="marcadorequipovisitante"
        type="number"
        min="0"
        max="100"
        required
        value={partido?.marcadorequipovisitante ?? ""}
        class={inputClass}
      />
    </div>

    <div class="flex gap-2 flex-col mb-4">
      <label for="fechapartido" class="text-base font-medium"
        >Fecha del Partido</label
      >
      <input
        id="fechapartido"
        name="fechapartido"
        type="date"
        required
        value={new Date(partido.fechapartido).toISOString().split("T")[0]}
        class={inputClass}
      />
    </div>

    <div class="flex justify-center text-center mt-5 mx-5 pt-2 gap-5">
      <button class={buttonClass} type="button" id="btn-cancel">
        Cancelar
      </button>
      <button class={buttonClass} type="submit">
        Actualizar Partido
        <img src={arrowNext.src} class="size-7 rotate-180" alt="" />
      </button>
    </div>
  </form>
</FormLayout>

<script>
  import Swal from "sweetalert2";
  import { actions } from "astro:actions";
  import { privateRoutesMap } from "@consts/routes";
  import { navigate } from "astro:transitions/client";
  import type { Torneo } from "@interfaces/index";

  const form = document.querySelector("#form-partido") as HTMLFormElement;
  const btnSubmit = document.querySelector(
    'button[type="submit"]',
  ) as HTMLButtonElement;

  const btnCancel = document.getElementById(
    "btn-cancel"
  ) as HTMLButtonElement;

  btnCancel.addEventListener("click", (e) => {
    e.preventDefault();
    navigate(privateRoutesMap.ADMIN_PARTIDOS);
  });

  btnSubmit.addEventListener("click", async () => {
    btnSubmit.disabled = true;
    btnSubmit.classList.add("opacity-50", "cursor-not-allowed");
    const formData = new FormData(form);
    const nombreLocal = formData.get("idequipolocal");
    const nombreVisitante = formData.get("idequipovisitante");
    const { data: equipoLocal, error: equipoError } =
      await actions.getEquipoByName({ nombre: nombreLocal as string });
    const { data: equipoVisitante, error: visitanteError } =
      await actions.getEquipoByName({ nombre: nombreVisitante as string });

    if (equipoError || visitanteError) {
      console.error("Error fetching equipos:", equipoError || visitanteError);
      Swal.fire("Error", "Error al obtener los equipos seleccionados", "error");
      btnSubmit.disabled = false;
      btnSubmit.classList.remove("opacity-50", "cursor-not-allowed");
      return;
    }

    formData.set("idequipolocal", String(equipoLocal?.data.idequipo));
    formData.set("idequipovisitante", String(equipoVisitante?.data.idequipo));
    const date = formData.get("fechapartido") as string;
    formData.set("fechapartido", new Date(date).toISOString());
    console.log("Fecha partido formateada:", formData.get("fechapartido"));

    console.log("Form Data:", Array.from(formData.entries()));
    try {
      const { data, error } = await actions.updatePartido(formData);

      if (error) throw error;

      const { data: torneoData, error: torneError } =
        await actions.getTorneos();

      if (!data) {
        console.error("No data received for partido creation");
        btnSubmit.disabled = false;
        btnSubmit.classList.remove("opacity-50", "cursor-not-allowed");
        return;
      }

      if (torneError || error) {
        console.error("Error fetching torneos:", torneError);
        btnSubmit.disabled = false;
        btnSubmit.classList.remove("opacity-50", "cursor-not-allowed");
        return;
      }
      console.log("Partido update response:", data);
      const partido = data.data;
      console.log("Recuperando torneo para el partido...");
      const torneo: Torneo = torneoData?.data.find(
        (torneo: Torneo) =>
          torneo.idtorneo === Number(formData.get("idtorneo")),
      ) as Torneo;
      console.log("Torneo recuperado:", torneo);

      const { data: torneoPartido, error: torneoPartidoError } =
        await actions.updateTorneoPartido({
          idpartido: partido.idpartido,
          idtorneo: torneo.idtorneo,
        });

      Swal.fire("Éxito", "Partido actualizado", "success").then(
        async (result) => {
          if (result.isConfirmed) {
            await navigate(privateRoutesMap.ADMIN_PARTIDOS);
          }
        },
      );
      form.reset();
    } catch (err) {
      console.error(err as Error);
      Swal.fire("Error", "Error al editar el partido", "error");
    }
  });

</script>
