---
import "@styles/global.css";
import FormLayout from "@layouts/FormLayout.astro";
import arrowNext from "@assets/arrow_next.svg";
import { actions } from "astro:actions";
import type {
  Equipo,
  Partido,
  Temporada,
  Torneo,
} from "@interfaces/torneos.interface";
import { buttonClass, inputClass, publicRoutesMap } from "@consts/index";
import Swal from "sweetalert2";
import debug from "debug";

const user = Astro.cookies.get("user")
  ? (JSON.parse(Astro.cookies.get("user")?.value as string) as LoggedUser)
  : null;

// === Fetch de datos base ===
const { data, error } = await Astro.callAction(actions.getEquipos, {
  pageSize: 1000,
});
const { data: torneoData, error: torneoError } = await Astro.callAction(
  actions.getTorneos,
  { pageSize: 1000 }
);
const { data: temporadaData, error: temporadaError } = await Astro.callAction(
  actions.getTemporadas,
  { pageSize: 1000 }
);

if (error || torneoError || temporadaError) {
  debug.log("Error fetching equipos:", error);
  debug.log("Error fetching torneos:", torneoError);
  debug.log("Error fetching temporadas:", temporadaError);
  throw new Error("Error al recuperar datos necesarios para crear el partido.");
}

const equipos: Equipo[] = data?.data ?? [];
const torneos: Torneo[] = torneoData?.data ?? [];
const temporadas: Temporada[] = temporadaData?.data ?? [];
---

<FormLayout formTitle="Agregar Partido" pageTitle="Agregar Partido" user={user}>
  <form id="form-partido" class="flex flex-col w-full max-w-md">

    <!-- Temporada -->
    <div class="flex gap-2 flex-col mb-4">
      <label for="idtemporada" class="text-base font-medium">Temporada</label>
      <select name="idtemporada" class={inputClass} id="idtemporada" required>
        <option value="" disabled selected>Selecciona una temporada</option>
        {
          temporadas.map((temporada: Temporada) => (
            <option
              value={temporada.idtemporada}
              id={`temporada-${temporada.idtemporada}`}
            >
              {temporada.nombretemporada}
            </option>
          ))
        }
      </select>
    </div>

    <!-- Torneo -->
    <div class="flex gap-2 flex-col mb-4">
      <label for="idtorneo" class="text-base font-medium">Torneo</label>
      <select name="idtorneo" class={inputClass} id="idtorneo" required>
        <option value="" disabled selected>Selecciona un torneo</option>
        {
          torneos.length === 0 ? (
            <option value="" disabled>
              No hay torneos disponibles
            </option>
          ) : null
        }
        {
          torneos.map((torneo: Torneo) => (
            <option value={torneo.idtorneo} id={`torneo-${torneo.idtorneo}`}>
              {torneo.nombretorneo}
            </option>
          ))
        }
      </select>
    </div>

    <div class="flex gap-2 flex-col mb-4">
      <label for="fechapartido" class="text-base font-medium"
        >Fecha del Partido</label
      >
      <input
        id="fechapartido"
        name="fechapartido"
        type="datetime-local"
        class={inputClass}
        required
      />
    </div>

    <!-- Equipos -->
    <div class="flex gap-2 flex-col mb-4">
      <label for="idequipolocal" class="text-base font-medium"
        >Equipo Local</label
      >
      <select
        name="idequipolocal"
        class={inputClass}
        id="idequipolocal"
        required
      >
        <option value="" disabled selected>Selecciona un equipo</option>
        {
          equipos.map((equipo: Equipo) => (
            <option value={equipo.idequipo} id={`equipo-${equipo.idequipo}`}>
              {equipo.nombreequipo}
            </option>
          ))
        }
      </select>
    </div>

    <div class="flex gap-2 flex-col mb-4">
      <label for="idequipovisitante" class="text-base font-medium"
        >Equipo Visitante</label
      >
      <select
        name="idequipovisitante"
        class={inputClass}
        id="idequipovisitante"
        required
      >
        <option value="" disabled selected>Selecciona un equipo</option>
        {
          equipos.map((equipo: Equipo) => (
            <option value={equipo.idequipo} id={`equipo-${equipo.idequipo}`}>
              {equipo.nombreequipo}
            </option>
          ))
        }
      </select>
    </div>

    <!-- Marcadores -->
    <div class="flex gap-2 flex-col mb-4">
      <label for="marcadorequipolocal" class="text-base font-medium"
        >Marcador Equipo Local</label
      >
      <input
        id="marcadorequipolocal"
        name="marcadorequipolocal"
        type="number"
        min="0"
        max="100"
        class={inputClass}
      />
    </div>

    <div class="flex gap-2 flex-col mb-4">
      <label for="marcadorequipovisitante" class="text-base font-medium"
        >Marcador Equipo Visitante</label
      >
      <input
        id="marcadorequipovisitante"
        name="marcadorequipovisitante"
        type="number"
        min="0"
        max="100"
        class={inputClass}
      />
    </div>

    <div class="flex justify-center text-center mt-5 mx-5 pt-2 gap-5">
      <button class={buttonClass} type="button" id="btn-cancel">Cancelar</button
      >
      <button class={buttonClass} type="submit"
        >Agregar Partido <img
          src={arrowNext.src}
          class="size-7 rotate-180"
          alt=""
        /></button
      >
    </div>
  </form>
</FormLayout>

<script>
  import Swal from "sweetalert2";
  import { actions } from "astro:actions";
  import { navigate } from "astro:transitions/client";
  import { privateRoutesMap } from "@consts/index";
  import { validatePartidos } from "@utils/validation/partidos/partidos-validation";
  import type { Torneo } from "@interfaces/torneos.interface";

  const form = document.querySelector("#form-partido") as HTMLFormElement;
  const btnSubmit = form.querySelector(
    'button[type="submit"]'
  ) as HTMLButtonElement;
  const btnCancel = document.getElementById("btn-cancel") as HTMLButtonElement;

  const data = await actions.getTorneos.orThrow({ pageSize: 1000 });
  const torneos: Torneo[] = data.data ?? [];

  
  const selectTemporada = document.getElementById(
    "idtemporada"
  ) as HTMLSelectElement;
  const selectTorneo = document.getElementById("idtorneo") as HTMLSelectElement;
  const fechaInput = document.getElementById(
    "fechapartido"
  ) as HTMLInputElement;
  
  selectTorneo.addEventListener("change", async (e) => {
    const torneoSeleccionado = (e.target as HTMLSelectElement).value;

    if (!torneoSeleccionado) {
      fechaInput.min = "";
      fechaInput.max = "";
      return;
    }

    const data =  await actions.getTorneoById.orThrow({ id: Number(torneoSeleccionado) });
    const torneo = data.data;

    fechaInput.min = new Date(torneo.fechainiciotorneo).toISOString().slice(0,16);
    fechaInput.max = new Date(torneo.fechafintorneo).toISOString().slice(0,16);

  })

  // === Evento: Filtrar torneos al cambiar la temporada ===
  selectTemporada.addEventListener("change", (e) => {
    const temporadaSeleccionada = (e.target as HTMLSelectElement).value;
    selectTorneo.value = "";
    fechaInput.value = "";
    fechaInput.min = "";
    fechaInput.max = "";

    // Limpiar torneos actuales
    selectTorneo.innerHTML =
      '<option value="" disabled selected>Selecciona un torneo</option>';

    if (!temporadaSeleccionada) return;

    // Filtrar torneos según la temporada
    const torneosFiltrados = torneos.filter(
      (torneo) => torneo.idtemporada === Number(temporadaSeleccionada)
    );

    if (torneosFiltrados.length === 0) {
      selectTorneo.innerHTML = "";
      const option = document.createElement("option");
      option.value = "";
      option.textContent = "No hay torneos disponibles";
      option.disabled = true;
      option.selected = true;
      selectTorneo.appendChild(option);
      return;
    }

    // Agregar opciones filtradas
    torneosFiltrados.forEach((torneo) => {
      const option = document.createElement("option");
      option.value = String(torneo.idtorneo);
      option.textContent = torneo.nombretorneo;
      selectTorneo.appendChild(option);
    });
  });

  form.addEventListener("submit", (e) => e.preventDefault());


  // === Botones y envío del formulario ===
  btnCancel.addEventListener("click", () =>
    navigate(privateRoutesMap.VER_PARTIDOS)
  );

  btnSubmit.addEventListener("click", async () => {
    btnSubmit.disabled = true;
    btnSubmit.classList.add("opacity-50", "cursor-not-allowed");
    const formData = new FormData(form);
    const errorMessage = validatePartidos(formData);

    if (errorMessage) {
      Swal.fire("Error", errorMessage, "error")
      btnSubmit.disabled = false;
      btnSubmit.classList.remove("opacity-50", "cursor-not-allowed");
      return;
    }

    formData.set(
      "fechapartido",
      new Date(formData.get("fechapartido") as string).toISOString()
    );

    try {
      const { data, error } = await actions.createPartido(formData);

      if (error || !data) {
        Swal.fire("Error", error.message, "error");
        btnSubmit.disabled = false;
        btnSubmit.classList.remove("opacity-50", "cursor-not-allowed");
        return;
      }

      Swal.fire("Éxito", "Partido creado correctamente", "success").then(
        (result) => {
          if (result.isConfirmed) {
            navigate(privateRoutesMap.VER_PARTIDOS);
            form.reset();
            btnSubmit.disabled = false;
            btnSubmit.classList.remove("opacity-50", "cursor-not-allowed");
          }
        }
      );
    } catch (err) {
      console.error(err);
      Swal.fire(
        "Error",
        err instanceof Error
          ? err.message
          : "Error inesperado al crear el partido",
        "error"
      );
      btnSubmit.disabled = false;
      btnSubmit.classList.remove("opacity-50", "cursor-not-allowed");
    } finally {
      btnSubmit.disabled = false;
      btnSubmit.classList.remove("opacity-50", "cursor-not-allowed");
    }
  });
</script>
