---
import "@styles/global.css";
import FormLayout from "@layouts/FormLayout.astro";
import arrowNext from "@assets/arrow_next.svg";
import { actions } from "astro:actions";
import type {
  Equipo,
  Partido,
  Temporada,
  Torneo,
} from "@interfaces/torneos.interface";
import { buttonClass, inputClass, publicRoutesMap } from "@consts/index";
import Swal from "sweetalert2";
import debug from "debug";

const user = Astro.cookies.get("user")
  ? (JSON.parse(Astro.cookies.get("user")?.value as string) as LoggedUser)
  : null;

const { data, error } = await Astro.callAction(actions.getEquipos, {});
const { data: torneoData, error: torneoError } = await Astro.callAction(
  actions.getTorneos,
  {}
);
const { data: temporadaData, error: temporadaError } = await Astro.callAction(
  actions.getTemporadas,
  {}
);

if (error || torneoError || temporadaError) {
  debug.log("Error fetching equipos:", error);
  debug.log("Error fetching torneos:", torneoError);
  debug.log("Error fetching temporadas:", temporadaError);
  throw new Error("Error al recuperar datos necesarios para crear el partido.");
}

if (!data || !torneoData || !temporadaData) {
  console.error("No data received for equipos");
  throw new Error("No se recibieron datos necesarios para crear el partido.");
}

const equipos: Equipo[] = data?.data ?? [];
const torneos: Torneo[] = torneoData?.data ?? [];
const temporadas: Temporada[] = temporadaData?.data ?? [];
---

<FormLayout formTitle="Agregar Partido" pageTitle="Agregar Partido" user={user}>
  <form id="form-partido" class="flex flex-col w-full max-w-md">
    <div class="flex gap-2 flex-col mb-4">
      <label for="tipopartido" class="text-base font-medium"
        >Tipo de partido</label
      >
      <select name="tipopartido" class={inputClass} id="tipopartido">
        <option value="oficial">Oficial</option>
        <option value="amistoso">Amistoso</option>
      </select>
    </div>

    <div class="flex gap-2 flex-col mb-4">
      <label for="idtemporada" class="text-base font-medium">Temporada</label>
      <select name="idtemporada" class={inputClass} id="idtemporada">
        <option value="" disabled selected>Selecciona una temporada</option>
        {
          temporadas.map((temporada: Temporada) => (
            <option
              value={temporada.idtemporada}
              id={`temporada-${temporada.idtemporada}`}
            >
              {temporada.nombretemporada}
            </option>
          ))
        }
      </select>
    </div>

    <div class="flex gap-2 flex-col mb-4">
      <label for="idtorneo" class="text-base font-medium">Torneo</label>
      <select name="idtorneo" class={inputClass} id="idtorneo">
        <option value="" disabled selected>Selecciona un torneo</option>
        {
          torneos.map((torneo: Torneo) => (
            <option value={torneo.idtorneo} id={`torneo-${torneo.idtorneo}`}>
              {torneo.nombretorneo}
            </option>
          ))
        }
      </select>
    </div>

    <!-- <div class="flex gap-2 flex-col mb-4">
      <label for="idtorneo" class="text-base font-medium">Torneo</label>
      <select name="idtorneo" class={inputClass} id="idtorneo">
        <option value="" disabled selected>Selecciona un torneo</option>
        {
          torneos.map((torneo: Torneo) => (
            <option value={torneo.idtorneo} id={`torneo-${torneo.idtorneo}`}>
              {torneo.nombretorneo}
            </option>
          ))
        }
      </select>
    </div> -->

    <div class="flex gap-2 flex-col mb-4">
      <label for="idequipolocal" class="text-base font-medium"
        >Equipo Local</label
      >
      <select name="idequipolocal" class={inputClass} id="idequipolocal">
        <option value="" disabled selected>Selecciona un equipo</option>
        {
          equipos.map((equipo: Equipo) => (
            <option
              value={equipo.nombreequipo}
              id={`equipo-${equipo.idequipo}`}
            >
              {equipo.nombreequipo}
            </option>
          ))
        }
      </select>
    </div>

    <div class="flex gap-2 flex-col mb-4">
      <label for="idequipovisitante" class="text-base font-medium"
        >Equipo Visitante</label
      >
      <select
        name="idequipovisitante"
        class={inputClass}
        id="idequipovisitante"
      >
        <option value="" disabled selected>Selecciona un equipo</option>
        {
          equipos.map((equipo: Equipo) => (
            <option
              value={equipo.nombreequipo}
              id={`equipo-${equipo.idequipo}`}
            >
              {equipo.nombreequipo}
            </option>
          ))
        }
      </select>
    </div>

    <div class="flex gap-2 flex-col mb-4">
      <label for="marcadorequipolocal" class="text-base font-medium"
        >Marcador Equipo Local</label
      >
      <input
        id="marcadorequipolocal"
        name="marcadorequipolocal"
        type="number"
        min="0"
        max="100"
        class={inputClass}
      />
    </div>

    <div class="flex gap-2 flex-col mb-4">
      <label for="marcadorequipovisitante" class="text-base font-medium"
        >Marcador Equipo Visitante</label
      >
      <input
        id="marcadorequipovisitante"
        name="marcadorequipovisitante"
        type="number"
        min="0"
        max="100"
        class={inputClass}
      />
    </div>

    <div class="flex gap-2 flex-col mb-4">
      <label for="fechapartido" class="text-base font-medium"
        >Fecha del Partido</label
      >
      <input
        id="fechapartido"
        name="fechapartido"
        type="date"
        class={inputClass}
      />
    </div>
    <div class="flex justify-center text-center mt-5 mx-5 pt-2 gap-5">
      <button class={buttonClass} type="button" id="btn-cancel">
        Cancelar
      </button>
      <button class={buttonClass} type="submit">
        Agregar Partido
        <img src={arrowNext.src} class="size-7 rotate-180" alt="" />
      </button>
    </div>
  </form>
</FormLayout>

<script>
  import Swal from "sweetalert2";
  import { actions } from "astro:actions";
  import { navigate } from "astro:transitions/client";
  import { privateRoutesMap } from "@consts/index";
  import type { Temporada, Torneo } from "@interfaces/index";
  import validatePartidos from "@utils/validation/admin/partidos-validation";

  const form = document.querySelector("#form-partido") as HTMLFormElement;
  const btnSubmit = document.querySelector(
    'button[type="submit"]'
  ) as HTMLButtonElement;
  const temporadaSelect = document.getElementById(
    "idtemporada"
  ) as HTMLSelectElement;

  const btnCancel = document.getElementById("btn-cancel") as HTMLButtonElement;

  btnCancel.addEventListener("click", () => {
    navigate(privateRoutesMap.VER_PARTIDOS);
  });

  temporadaSelect.addEventListener("change", async () => {
    const selectedTemporadaId = temporadaSelect.value;
    if (!selectedTemporadaId) return;

    const dataTemporada = await actions.getTemporadaById.orThrow({
      id: Number(selectedTemporadaId),
    });

    const selectedTemporada: Temporada = dataTemporada.data;

    if (selectedTemporada) {
      const torneoSelect = document.getElementById(
        `idtorneo`
      ) as HTMLSelectElement;

      torneoSelect.innerHTML = "";

      const placeholder = new Option("Selecciona un torneo", "");
      placeholder.disabled = true;
      placeholder.selected = true;
      torneoSelect.add(placeholder);

      // Filtrar torneos únicos si tienes varias temporadas con el mismo torneo
      const torneosUnicosMap = new Map<number, string>();
      torneosUnicosMap.set(
        selectedTemporada.idtorneo,
        selectedTemporada.torneo_nombre
      );

      // Agregar las opciones al select
      torneosUnicosMap.forEach((nombre, id) => {
        torneoSelect.add(new Option(nombre, id.toString()));
      });
    }
  });

  form.addEventListener("submit", (e) => {
    e.preventDefault();
  });

  btnSubmit.addEventListener("click", async () => {
    btnSubmit.disabled = true;
    btnSubmit.classList.add("opacity-50", "cursor-not-allowed");

    const formData = new FormData(form);
    const nombreLocal = formData.get("idequipolocal")?.toString().trim() ?? "";
    const nombreVisitante =
      formData.get("idequipovisitante")?.toString().trim() ?? "";
    const date = formData.get("fechapartido")?.toString().trim() ?? "";
    const errorMessage = validatePartidos(formData);

    if (errorMessage.length > 0) {
      Swal.fire("Error", errorMessage, "error");
      btnSubmit.disabled = false;
      btnSubmit.classList.remove("opacity-50", "cursor-not-allowed");
      return;
    }

    formData.set("fechapartido", new Date(date).toISOString());

    const { data: equipoLocal, error: equipoError } =
      await actions.getEquipoByName({ nombre: nombreLocal as string });
    const { data: equipoVisitante, error: visitanteError } =
      await actions.getEquipoByName({ nombre: nombreVisitante as string });

    if (equipoError || visitanteError) {
      console.error("Error fetching equipos:", equipoError || visitanteError);
      Swal.fire("Error", "Error al obtener los equipos seleccionados", "error");
      btnSubmit.disabled = false;
      btnSubmit.classList.remove("opacity-50", "cursor-not-allowed");
      return;
    }

    formData.set("idequipolocal", String(equipoLocal?.data.idequipo));
    formData.set("idequipovisitante", String(equipoVisitante?.data.idequipo));

    try {
      const { data, error } = await actions.createPartido(formData);
      const { data: torneoData, error: torneoError } =
        await actions.getTorneos();

      if (!data) {
        console.error("No data received for partido creation");
        Swal.fire("Error", "Error al crear el partido", "error");
        btnSubmit.disabled = false;
        btnSubmit.classList.remove("opacity-50", "cursor-not-allowed");
        return;
      }

      if (torneoError || error) {
        console.error("Error fetching torneos:", torneoError);
        Swal.fire("Error", "Error al crear el partido", "error");
        btnSubmit.disabled = false;
        btnSubmit.classList.remove("opacity-50", "cursor-not-allowed");
        return;
      }

      const torneo: Torneo = torneoData?.data.find(
        (torneo: Torneo) => torneo.idtorneo === Number(formData.get("idtorneo"))
      ) as Torneo;

      const { data: torneoPartido, error: torneoPartidoError } =
        await actions.createTorneoPartido({
          idpartido: data?.data.idpartido,
          idtorneo: torneo.idtorneo,
        });

      Swal.fire("Éxito", "Partido creado", "success").then((result) => {
        if (result.isConfirmed) {
          navigate(privateRoutesMap.VER_PARTIDOS);
        }
      });
      btnSubmit.disabled = false;
      btnSubmit.classList.remove("opacity-50", "cursor-not-allowed");
      form.reset();
    } catch (err) {
      console.error(err);
      Swal.fire("Error", "Error al crear el partido", "error");
    }
  });
</script>
