---
import { getAddHref, matchOptions } from "@utils/handle-partidos-table";
import { actions } from "astro:actions";
import type { Partido, Temporada, Torneo } from "@interfaces/torneos.interface";
import AdminPanelLayout from "@layouts/AdminPanelLayout.astro";
import PartidosSideBar from "@components/partidosProfesor/PartidosSideBar.astro";
import NotAuthorized from "@components/shared/NotAuthorized.astro";
import type { Link } from "@interfaces/link.interface";
import PartidosProfesorTable from "@components/partidosProfesor/PartidosProfesorTable.astro";
import Pagination from "@components/shared/Pagination.astro";
import { buttonClass } from "@consts/styles";
import PartidosProfesorActions from "@components/partidosProfesor/TableActions.astro";
import type { SortOptions } from "@interfaces/table-actions.interface";
import { matchSidebarLinks } from "@consts/navbar-links";

const user: LoggedUser | null = Astro.cookies.get("user")
  ? (JSON.parse(Astro.cookies.get("user")?.value as string) as LoggedUser)
  : null;

const searchParams = Astro.url.searchParams;
const pageParam = Number(searchParams.get("page") ?? 1);

const { data, error } = await Astro.callAction(actions.getPartidos, {});

if (error) {
  console.error("Error fetching torneos data:", error);
  return Astro.redirect("/");
}

const partidos: Partido[] = data?.data ?? [];

const offset = 10;
const totalPages = Math.ceil(partidos.length / offset);
const paginatedPartidos = partidos.slice(
  (pageParam - 1) * offset,
  pageParam * offset
);

const sidebarLinks: Link[] = matchSidebarLinks;


const sortOptions: SortOptions[] = [
  { searchParam: "fechapartido", displayName: "Fecha" },
  { searchParam: "equipo_local", displayName: "Equipo Local" },
  { searchParam: "equipo_visitante", displayName: "Equipo Visitante" },
];
---

<AdminPanelLayout title="Gestión de Torneos y Partidos">
  <div id="GestionTorneosPartidos" class="my-5 h-svh w-full max-w-7xl">
    {
      user ? (
        <div class="flex flex-col justify-center align-center gap-5 w-full">
          <div class="flex flex-row justify-between gap-10 w-full">
            <div class="w-fit">
              <PartidosSideBar
                items={sidebarLinks}
                selectedItem={matchOptions.partidos}
              />
            </div>
            <div class="flex flex-col items-start self-start justify-start w-3/4">
              <PartidosProfesorActions
                canSort={true}
                sortByOptions={sortOptions}
                buttonLabel="Crear Partido"
                placeholderText="Buscar partido..."
                buttonHref={getAddHref(matchOptions.partidos)}
              />
              <PartidosProfesorTable filter={matchOptions.partidos} />
            </div>
          </div>
          <div class={`${totalPages <= 1 ? "hidden" : "block"} w-full`}>
            <Pagination totalPages={totalPages} />
          </div>
        </div>
      ) : (
        <div class="md:w-svw lg:w-shw w-shw flex flex-wrap justify-self-start flex-col">
          <NotAuthorized />
        </div>
      )
    }
  </div>
</AdminPanelLayout>

<script>
  const searchBox = document.getElementById("search-box") as HTMLInputElement;

  searchBox.addEventListener("input", async () => {
    const search = searchBox.value;
    const rows = document.querySelectorAll("tr[id^='match-partidos-']");
    rows.forEach((row) => {
      const fecha = row.children[1];
      const equipoLocal = row.children[2];
      const equipoVisitante = row.children[3];
      if (fecha && equipoLocal && equipoVisitante) {
        const fechaText = fecha.textContent || "";
        const localText = equipoLocal.textContent || "";
        const visitanteText = equipoVisitante.textContent || "";

        if (
          localText.toLowerCase().includes(search.toLowerCase()) ||
          visitanteText.toLowerCase().includes(search.toLowerCase())
        ) {
          row.classList.remove("hidden");
        } else {
          row.classList.add("hidden");
        }
      }
    });
  });
</script>
