---
import "@styles/global.css";
import Layout from "@layouts/Layout.astro";
import arrowNext from "@assets/arrow_next.svg";
import CardContainer from "@components/cards/CardContainer.astro";

export const prerender = false;

const buttonClass =
  "text-[#C10230] bg-white border-[#C10230] border-solid border-2 px-4 py-2 rounded-md flex cursor-pointer flex";
const inputClass =
  "bg-white text-black rounded-md p-2 w-md focus:outline-none focus:ring-2 focus:ring-[#C10230]";

---

<Layout>
  <section
    class="h-fit md:w-svw lg:w-max min-h-[100vh] text-white flex flex-wrap justify-self-center-safe flex-col mt-16"
  >
    <div
      id="container"
      class="flex flex-col items-center justify-center gap-5 rounded-sm bg-[#C10230] self-center w-shw px-5 pt-4 pb-8"
    >
      <div class="font-bold text-3xl flex pb-3">
        <h1>Registro de Usuario</h1>
      </div>
      <div id="register-form" class="flex flex-col gap-5">
        <form autocomplete="on" method="post">
          <div class="flex flex-col gap-2 mb-4 px-5">
            <label class="text-base font-medium" for="name"
              >Nombre</label
            >
            <input
              type="text"
              maxlength="100"
              minlength="3"
              id="name"
              name="name"
              class={inputClass}
              required
            />
          </div>
            <div class="flex flex-col gap-2 mb-4 px-5">
            <label class="text-base font-medium" for="email"
              >Correo Electrónico</label
            >
            <input
              type="email"
              maxlength="70"
              id="email"
              name="email"
              pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/"
              class={inputClass}
              required
            />
          </div>
          <div class="flex flex-col gap-2 mb-4 px-5">
            <label class="text-base font-medium" for="password"
              >Contraseña</label
            >
            <input
              type="password"
              maxlength="30"
              minlength="8"
              id="password"
              name="password"
              class={inputClass}
              required
            />
          </div>
          <div class="flex justify-center mt-5 pt-2">
            <button class={buttonClass} type="submit" id="btn-login"
              >Crear Sesión
              <img
                src={arrowNext.src}
                class="size-7 align-middle pl-2 rotate-180"
                alt=""
              />
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>
</Layout>

<script>
  import { actions } from "astro:actions";
  import Swal from "sweetalert2";

  const form = document.querySelector("form");
  const btnSubmit = form!.querySelector("button[type='submit']") as HTMLButtonElement;

  form?.addEventListener("submit", async (e) => {
    e.preventDefault();
    btnSubmit.setAttribute('disabled', 'disabled');

    const { value: userCredential } = await Swal.fire({
      title: "Ingrese su contraseña",
      input: "password",
      inputAttributes: {
        autocapitalize: "off",
      },
      showCancelButton: true,
      confirmButtonText: "Aceptar",
      cancelButtonText: "Cancelar",
      showLoaderOnConfirm: true,
      preConfirm: async (userCredential) => {
        if (!userCredential) {
          Swal.showValidationMessage("La contraseña es requerida");
          btnSubmit.removeAttribute('disabled');
          return;
        }

        return userCredential;
      }
    })
    
    const formData = new FormData(form);
    formData.append("userCredential", userCredential);

    const { data, error } = await actions.registerUser(formData);

    if (error) {
      console.error("Error:", error.message);
      if (error.message.toString().includes("validation")) {
        Swal.fire({
        icon: 'error',
        title: 'Error al registrar el usuario',
        text: "Uno de los campos no es válido. Por favor, verifica e intenta nuevamente.",
      });
        btnSubmit.removeAttribute('disabled');
        return;
      }
      Swal.fire({
        icon: 'error',
        title: 'Error al registrar el usuario',
        text: error.message,
      });
      btnSubmit.removeAttribute('disabled');
      return;
    }

    if (data) {
      console.log("Success:", data);
      Swal.fire({
        icon: 'success',
        title: 'Registro de usuario exitoso',
        text: 'Por favor, inicia sesión.'
      })
    }
    btnSubmit.removeAttribute('disabled');
    form.reset();
  });
</script>
